<template lang="pug">
  component(:is="currentIcon" :color="color")
</template>

<script>
import house from './dump/House.vue';
import settings from './dump/Settings.vue';
import wallet from './dump/Wallet.vue';
import tech from './dump/Tech.vue';
import ring from './dump/Ring.vue';

const icons = [
  { component: house, name: 'house' },
  { component: settings, name: 'settings' },
  { component: wallet, name: 'wallet' },
  { component: tech, name: 'tech' },
  { component: ring, name: 'ring' },
]

export default {
  computed: {
    currentIcon(){
      let row = icons.find(icon => icon.name === this.icon.toLowerCase());
      return row ? row.component : undefined;
    }

  },
  props: {
    icon: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      required: true,
    }
  }
}
</script>
