<template lang="pug">
  component(:is="currentIcon" :color="color")
</template>

<script>
import house from './House.vue';
import settings from './Settings.vue';
import wallet from './Wallet.vue';
import tech from './Tech.vue';
import ring from './Ring.vue';
import users from './Users.vue';
import miners from './Miners.vue';

const icons = [
  { component: house, name: 'house' },
  { component: settings, name: 'settings' },
  { component: wallet, name: 'wallet' },
  { component: tech, name: 'tech' },
  { component: ring, name: 'ring' },
  { component: users, name: 'users' },
  { component: miners, name: 'miners' },
]

export default {
  computed: {
    currentIcon(){
      let row = icons.find(icon => icon.name === this.icon.toLowerCase());
      return row ? row.component : undefined;
    }

  },
  props: {
    icon: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      required: true,
    }
  }
}
</script>
