<template>
  <svg style="margin-left: 10px; margin-top: 10px;" width="50" height="50" viewBox="0 0 29.175 29.175">
    <defs>
      <style>
        .miners-icon{
          fill: {{ color }};
          fill-rule:evenodd;
        }
      </style>
    </defs>
    <path class="miners-icon" d="M20 13H4c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1h16c.55 0 1-.45 1-1v-6c0-.55-.45-1-1-1zM7 19c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zM20 3H4c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1h16c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1zM7 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/>
  </svg>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '#000000'
    }
  }
}
</script>
