<template>
  <svg width="26" height="31" viewBox="0 0 25.611 31">
    <defs>
      <style>
        .ring{
          fill: none;
          stroke: {{ color }};
        }
      </style>
    </defs>
    <g transform="translate(0.5 0.5)">
      <path class="ring" d="M21.556,20.778V13.056c0-4.722-2.556-8.667-6.944-9.722v-1A2.347,2.347,0,0,0,12.278,0,2.3,2.3,0,0,0,10,2.333v1c-4.389,1.056-6.944,5-6.944,9.722v7.667L0,23.833v1.556H24.611V23.833Z"/>
      <path class="ring" d="M19.711,51.556A3.047,3.047,0,0,0,22.767,48.5H16.6A3.1,3.1,0,0,0,19.711,51.556Z" transform="translate(-7.378 -21.556)"/>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '#000000'
    }
  }
}
</script>
