<template>
  <svg height="30" width="30" viewBox="0 0 29.2 29.2">
    <defs>
      <style>
        .tech{
          fill: {{ color }};
        }
      </style>
    </defs>
    <path class="tech" d="M14.6,24.2A9.6,9.6,0,1,0,5,14.6,9.6,9.6,0,0,0,14.6,24.2ZM9.9,14.6a4.859,4.859,0,0,1,1.5-3.4l.8,1a3.312,3.312,0,0,0-1,2.4,3.492,3.492,0,0,0,1,2.4l-.8,1A4.514,4.514,0,0,1,9.9,14.6Zm9.5,0a4.627,4.627,0,0,1-1.6,3.5l-.5-.6-.3-.4a3.25,3.25,0,0,0,1.1-2.5,3.74,3.74,0,0,0-1-2.5l.8-1A4.909,4.909,0,0,1,19.4,14.6Zm-6.6,2.9a3.453,3.453,0,0,0,1.8.5,3.371,3.371,0,0,0,1.7-.5l.8,1a4.3,4.3,0,0,1-2.5.7,4.457,4.457,0,0,1-2.6-.8Zm3.6-5.8a3.453,3.453,0,0,0-1.8-.5,3.292,3.292,0,0,0-1.9.6l-.8-1a5.029,5.029,0,0,1,2.7-.8,4.7,4.7,0,0,1,2.6.8ZM9.9,21.1l1.3-1.6a5.754,5.754,0,0,0,3.4,1.1,6.387,6.387,0,0,0,3.3-1l1.3,1.6a8.065,8.065,0,0,1-4.6,1.4A7.968,7.968,0,0,1,9.9,21.1Zm12.7-6.5a8.178,8.178,0,0,1-2.8,6.1v-.1l-1.2-1.5a6.062,6.062,0,0,0,0-9l1.3-1.6A8.457,8.457,0,0,1,22.6,14.6ZM19.2,8.1,18,9.7a6.387,6.387,0,0,0-3.3-1,5.536,5.536,0,0,0-3.4,1.1L9.9,8.1a7.547,7.547,0,0,1,4.7-1.5A7.461,7.461,0,0,1,19.2,8.1Zm-9.9.5,1.3,1.6a5.966,5.966,0,0,0-1.9,4.4,5.891,5.891,0,0,0,2,4.4L9.4,20.6a7.876,7.876,0,0,1-2.7-6A7.469,7.469,0,0,1,9.3,8.6Z"/>
    <path class="tech" d="M29.2,27.1V2.1A2.112,2.112,0,0,0,27.1,0H2.1A2.051,2.051,0,0,0,0,2.1v25a2.112,2.112,0,0,0,2.1,2.1H27.2A2.03,2.03,0,0,0,29.2,27.1Zm-4.3-1.2A1.1,1.1,0,1,1,26,27,1.11,1.11,0,0,1,24.9,25.9ZM26,2.1a1.1,1.1,0,1,1-1.1,1.1A1.11,1.11,0,0,1,26,2.1ZM14.6,3A11.6,11.6,0,1,1,3,14.6,11.608,11.608,0,0,1,14.6,3ZM3.3,2.2A1.1,1.1,0,1,1,2.2,3.3,1.11,1.11,0,0,1,3.3,2.2ZM3.2,24.9A1.1,1.1,0,1,1,2.1,26,1.11,1.11,0,0,1,3.2,24.9Z"/>
  </svg>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '#000000'
    }
  }
}
</script>
