<template lang="pug">
  Accept(v-if="valid")
  Deny(v-else)
</template>


<script>
  import Accept from './dump/Accept.vue';
  import Deny from './dump/Deny.vue';

  export default {
    components: {
      Accept, Deny
    },
    props: {
      valid: {
        type: Boolean,
        default: false
      }
    }
  }
</script>
