<template>
  <svg width="32" height="24" viewBox="0 0 31.7 23.4">
    <defs>
      <style>
        .wallet{
          fill: {{ color }};
        }
      </style>
    </defs>
    <g transform="translate(-14.7 -23.6)">
      <path class="wallet" d="M32.2,35.3A5.8,5.8,0,0,1,38,29.5h6.2V23.6H14.7V47H44.2V41H38a5.784,5.784,0,0,1-5.8-5.7Z"/>
      <path class="wallet" d="M39,34.5a.8.8,0,1,0,.8.8.789.789,0,0,0-.8-.8Z"/>
      <path class="wallet" d="M39,37.9a2.7,2.7,0,1,1,2.7-2.7A2.825,2.825,0,0,1,39,37.9Zm-1.1-6.5a3.9,3.9,0,1,0,0,7.8h8.5V31.4H37.9Z"/>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '#000000'
    }
  }
}
</script>
