body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #29C969;
}

hr.light {
  border-color: #fff;
}

hr.cu {
  border-color: #0F3763;
}

a {
  color: #29C969;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #29c969;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.catch {
  float: left;
  font-size: 16px;
  color: black;
}

@media (min-width: 1024px) {
  .miner-header-type {
    font-size: 44px;
  }
  h2 {
    font-size: 46px;
  }
  .btn-xl {
    padding: 1rem 2rem;
    font-size: 20pt;
  }
  .pt21 {
    font-size: 21pt;
  }
}

.bg-primary {
  background-color: #29C969 !important;
}

.bg-black {
  background-color: #111 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.bg-cu {
  background-color: #0F3763 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 2rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: transparent;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #29C969;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: white;
}

#mainNav .navbar-nav > li {
  text-align: center;
}

#mainNav .navbar-nav > li > a.nav-link,
#mainNav .navbar-nav > li > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li > a.nav-link:hover,
#mainNav .navbar-nav > li > a.nav-link:focus:hover {
  color: #fff;
}

#mainNav .navbar-nav > li > a.nav-link.active,
#mainNav .navbar-nav > li > a.nav-link:focus.active {
  color: #fff !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.nav-link.active:hover,
#mainNav .navbar-nav > li > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (max-width: 1150px) {
  #mainNav {
    background-color: #29C969;
  }
  #mainNav li a {
    color: #fff !important;
  }
}

@media (min-width: 1150px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #29C969;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #29C969;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #fff;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #dee2e6;
  }
}

#mainNav .phone-item {
  display: block;
  font-size: 18px !important;
  min-width: 160px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  margin-top: 5px;
}

#mainNav .phone-item a {
  color: #fff !important;
}

.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
}

.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.masthead h1 {
  font-size: 2rem;
}

.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  .masthead p {
    font-size: 2rem;
  }
}

@media (max-width: 565px) {
  .masthead p {
    color: #29C969 !important;
    border-radius: 300px;
    border: 1px solid #29C969;
    background: #fff;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .masthead h1 {
    font-size: 3rem;
    color: #fff;
  }
}

@media (min-width: 1200px) {
  .masthead h1 {
    font-size: 6rem;
  }
}

@media (max-width: 1200px) {
  .masthead h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .masthead {
    display: none !important;
  }
}

.bookinner {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
}

.bookinner hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bookinner h1 {
  font-size: 2rem;
}

.bookinner p {
  font-weight: 300;
}

@media (min-width: 768px) {
  .bookinner p {
    font-size: 2rem;
  }
}

@media (max-width: 565px) {
  .bookinner p {
    color: #29C969 !important;
    border-radius: 300px;
    border: 1px solid #29C969;
    background: #fff;
  }
}

@media (min-width: 992px) {
  .bookinner {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .bookinner h1 {
    font-size: 3rem;
    color: #fff;
  }
}

@media (min-width: 1200px) {
  .bookinner h1 {
    font-size: 6rem;
  }
}

@media (max-width: 1200px) {
  .bookinner h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1150px) {
  #numberForMobile {
    display: none !important;
  }
}

@media (max-width: 1250px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.service-box {
  max-width: 400px;
}

.service-box img {
  max-width: 50%;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(41, 201, 105, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #29C969 !important;
}

.btn {
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #29C969;
  border-color: #29C969;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #25b45e !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(64, 240, 117, 0.5) !important;
}

.btn-border {
  border: 1px solid white;
  background: transparent;
  color: #fff;
}

.btn-border:hover {
  background: rgba(255, 255, 255, 0.5);
}

.mfp-image-holder .mfp-content {
  max-width: 80%;
}

a:hover {
  text-decoration: none !important;
}

#book-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999;
  cursor: pointer;
}

#difs {
  width: 100vw;
  background: url("/img/bg-difs.png") no-repeat center center fixed;
  background-size: cover;
}

#difs .col-lg-2 {
  margin-bottom: 20px;
}

#difs .card {
  height: 100%;
}

#difs .dif-footer {
  margin-top: 30px;
}

#difs .dif-footer p {
  text-align: justify;
}

.dif-icon {
  height: 100px;
  margin-top: 25px;
}

.section-heading {
  margin-bottom: 30px;
}

#social {
  padding-top: 30px;
  padding-bottom: 30px;
}

#social .fa {
  font-size: 32px;
  margin: 15px;
}

.c-cu {
  color: #0F3763;
}

.c-gr {
  color: #29C969;
}

#position {
  margin-top: 0;
  padding-top: 0;
  background: url("/img/bg-fire.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
}

#position h2 {
  margin-top: 30px;
}

#position .p-container {
  padding: 20px;
}

#prices {
  margin-top: 0;
  padding-top: 0;
  background: url("/img/bg-price.png") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
}

#prices h2 {
  margin: 0 !important;
  margin-top: 20px  !important;
}

#prices .bg-cu {
  padding: 30px;
  background: rgba(15, 55, 99, 0.36) !important;
}

#prices .prices-cards .col-md-4 {
  margin-bottom: 30px;
}

#prices .prices-cards .col-md-4 .card {
  padding: 0 !important;
  height: 100%;
}

#prices .prices-cards .col-md-4 .card-header {
  font-weight: 600;
  text-transform: uppercase;
}

#prices .prices-cards .col-md-4 .card-footer {
  color: #29C969 !important;
  background: #fff;
  font-size: 24px;
  font-weight: 600;
}

.mining-vs .col-md-6 {
  height: 100%;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .mining-vs .col-md-6 {
    padding: 0 !important;
  }
}

.mining-vs .col-vs {
  margin-bottom: 20px;
}

.mining-vs .card .card-title {
  width: 100%;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.mining-vs .card li {
  list-style: none;
  position: relative;
  padding-left: 305px;
  margin-bottom: 15px;
  width: 80%;

}

.mining-vs .card li.minus:before {
  content: "\f057";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: red;
  font-size: 30px;
  top: -10px;
  left: 0;
  position: absolute;
  height: 100%;

}

.mining-vs .card li.plus:before {
  content: "\f058";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #29C969;
  font-size: 30px;
  top: -10px;
  left: 0;
  position: absolute;
  height: 100%;
}

.sectionheader {
  margin-top: 10px;
}

.prices-cards h2 {
  color: #29C969;
}

.prices-cards hr {
  max-width: 100%;
  border: none;
  border-bottom: 1px solid white;
}

.prices-cards .btn-1 {
  --c1: #f6d365;
  --c2: #fda085;
}

.prices-cards .btn-2 {
  --c1: #0F3763;
  --c2: #a6c1ee;
}

.prices-cards .btn-3 {
  --c1: #009EE3 ;
  --c2: #8fd3f4;
}

.prices-cards .btn-4 {
  --c1: #a1c4fd;
  --c2: #29C969;
}

.prices-cards .btn-5 {
  --c1: #ffecd2;
  --c2: #fcb69f;
}

.prices-cards .card {
  padding: 0;
  transition: 1s;
  background: linear-gradient(90deg, var(--c1, #f6d365), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/200%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.prices-cards .card .card-body {
  background: #fff;
}

.prices-cards .card:hover {
  --x: 100%;
}

.prices-cards .card .card-text {
  text-align: left !important;
  width: 100%;
  height: 100%;
}

.prices-cards .card .card-header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.prices-cards .card .card-footer {
  background: none;
  text-align: right;
  border: none;
}

@media (min-width: 1024px) {
  .prices-cards .card .card-footer {
    font-size: 26px !important;
  }
}

#miner ul {
  list-style: none;
}

#miner ul li {
  position: relative;
  padding-left: 25px;
}

#miner ul li .c-icon {
  width: 26px;
  position: absolute;
  left: -25px;
}

#contact {
  color: #0F3763;
}

#contact .m-icon {
  padding-left: 15px;
}

@media (max-width: 768px) {
  #contact .map-container {
    display: none;
  }
}

#contact .map-overlay {
  font-size: 22px;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #fff;
}

@media (max-width: 768px) {
  #contact .map-overlay {
    width: 100%;
  }
}

#howtow {
  margin-top: 0;
  padding-top: 30px;
  background: url("/img/bg-how-to-work-light.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

@media (max-width: 1000px) {
  #howtow {
    display: none;
  }
}

#howtow .container {
  text-align: center;
  display: grid;
}

#howtow .container * {
  box-sizing: content-box;
}

#howtow .container .bubbles {
  position: relative;
}

#howtow .container .bubbles > * {
  position: absolute;
  border-radius: 50%;
}

#howtow .container .text {
  position: relative;
  padding: 20px;
  font-size: 18px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 100px 50px rgba(255, 255, 255, 0);
  transition: box-shadow .2s;
}

#howtow .container .text, #howtow .container .text .number {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#howtow .container .text .number {
  position: absolute;
  left: calc(25% - 80px);
  bottom: calc(25% - 80px);
  width: 80px;
  height: 80px;
  font-size: 42px;
  font-weight: bold;
  border: 5px solid #fff;
  border-radius: 50%;
  background-color: #0F3763;
  color: #fff;
}

#howtow .container > * {
  grid-row: 1;
}

#howtow .container > *:hover .text {
  box-shadow: 0 0 10px 5px #fff;
}

#howtow .container .step-1 {
  grid-area: a;
  justify-self: start;
  align-self: start;
}

#howtow .container .step-1 .bubbles :nth-child(1) {
  right: -50px;
  top: 25px;
  width: 28px;
  height: 28px;
  background: #009EE3;
}

#howtow .container .step-1 .text {
  width: 115px;
  height: 115px;
  border: 7px solid #29C969;
}

#howtow .container .step-2 {
  grid-area: b;
  justify-self: start;
  align-self: end;
}

#howtow .container .step-2 .bubbles :nth-child(1) {
  left: -100px;
  bottom: -250px;
  width: 28px;
  height: 28px;
  background: #29C969;
}

#howtow .container .step-2 .text {
  width: 180px;
  height: 180px;
  border: 7px solid #009EE3;
}

#howtow .container .step-3 {
  grid-area: c;
  justify-self: start;
  align-self: start;
}

#howtow .container .step-3 .bubbles :nth-child(1) {
  right: -100px;
  bottom: -125px;
  width: 28px;
  height: 28px;
  background: #009EE3;
}

#howtow .container .step-3 .text {
  width: 115px;
  height: 115px;
  border: 7px solid #009EE3;
}

#howtow .container .step-4 {
  grid-area: d;
  justify-self: end;
  align-self: end;
}

#howtow .container .step-4 .bubbles :first-child {
  left: -35px;
  top: -35px;
  width: 250px;
  height: 250px;
  border: 7px solid #29C969;
}

#howtow .container .step-4 .text {
  width: 155px;
  height: 155px;
}

#howtow .container .step-5 {
  grid-area: e;
  justify-self: end;
  align-self: start;
}

#howtow .container .step-5 .bubbles :first-child {
  left: -35px;
  top: -35px;
  width: 305px;
  height: 305px;
  background: linear-gradient(to bottom, #29C969, #009EE3);
}

#howtow .container .step-5 .text {
  width: 195px;
  height: 195px;
}

#howtow .container .step-6 {
  grid-area: f;
  justify-self: end;
  align-self: end;
}

#howtow .container .step-6 .bubbles :first-child {
  left: -35px;
  top: -35px;
  width: 290px;
  height: 290px;
  border: 7px solid #009EE3;
}

#howtow .container .step-6 .bubbles :nth-child(2) {
  right: -25px;
  top: -75px;
  width: 98px;
  height: 98px;
  background: linear-gradient(to bottom, #009EE3, #29C969);
}

#howtow .container .step-6 .bubbles :nth-child(3) {
  left: -75px;
  bottom: -275px;
  width: 28px;
  height: 28px;
  background: #29C969;
}

#howtow .container .step-6 .bubbles :nth-child(4) {
  right: -50px;
  top: -175px;
  width: 28px;
  height: 28px;
  background: #29C969;
}

#howtow .container .step-6 .text {
  width: 195px;
  height: 195px;
}

@media (max-width: 575px) {
  #howtow .container {
    grid-template-columns: 10% 48% 22% 10%;
    grid-template-rows: 25% 30% 5% 40%;
    grid-template-areas: ". a b ." ". c d ." ". . . ." ". e f .";
    height: 1500px;
    margin-bottom: 100px;
  }
  #howtow .container > * {
    transform: scale(1.25);
  }
  #howtow .container .step-4 .number {
    left: initial;
    bottom: initial;
    right: calc(25% - 80px);
    top: calc(25% - 80px);
  }
}

@media (min-width: 576px) {
  #howtow .container {
    grid-template-columns: 5% 45% 50%;
    grid-template-rows: 30% 30% 40%;
    grid-template-areas: "a . b" ". c d" ". e f";
    height: 800px;
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  #howtow .container {
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: 40% 5% 10% 35% 10%;
    grid-template-areas: "a . c" ". b ." ". . ." ". e ." "d . f";
    height: 550px;
  }
}

@media (min-width: 992px) {
  #howtow .container {
    grid-template-columns: 6% 22% 26% 24% 22%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "a . c . ." ". . d e f" ". b . . .";
    height: 440px;
  }
}

@media (max-width: 768px) {
  #howtow {
    background-attachment: local;
  }
  .map-overlay {
    font-size: 16px;
  }
}

.px12 {
  font-size: 18px;
}
