<template>
  <svg height="25" width="25" viewBox="0 0 25 25">
    <defs>
      <style>
        .accept-background {
          fill: #629414;
        }
        .accept-icon {
          fill: #fff;
        }
      </style>
    </defs>
    <g transform="translate(-1393 -310)">
      <g transform="translate(-207 292)">
        <path class="accept-background" d="M12.5,0A12.5,12.5,0,1,1,0,12.5,12.5,12.5,0,0,1,12.5,0Z" transform="translate(1600 18)"/>
      </g>
      <path class="accept-icon" d="M.153,6.745A1.09,1.09,0,0,1,0,6.285a1.09,1.09,0,0,1,.153-.46L1,4.981a.6.6,0,0,1,.844,0l.077.077L5.37,8.74a.288.288,0,0,0,.46,0L13.963.148h.077a.6.6,0,0,1,.844,0l.844.844a.6.6,0,0,1,0,.844L5.984,12.116a1.09,1.09,0,0,1-.46.153,1.09,1.09,0,0,1-.46-.153L.307,6.9Zm0,0" transform="translate(1398 316.756)"/>
    </g>
  </svg>
</template>
