<template>
  <svg height="25" width="25" viewBox="0 0 25 25">
  <defs>
    <style>
      .deny-background {
        fill: #d25518;
      }

      .deny-icon {
        fill: #fff;
      }
    </style>
  </defs>
  <g id="Group_65" data-name="Group 65" transform="translate(-1422 -310)">
    <g id="Group_64" data-name="Group 64" transform="translate(29)">
      <g id="Group_62" data-name="Group 62" transform="translate(-207 292)">
        <path id="Path_69" data-name="Path 69" class="deny-background" d="M12.5,0A12.5,12.5,0,1,1,0,12.5,12.5,12.5,0,0,1,12.5,0Z" transform="translate(1600 18)"/>
      </g>
    </g>
    <path id="Path_82" data-name="Path 82" class="deny-icon" d="M8.545,6.806a.284.284,0,0,1,0-.454l4.537-4.537a.556.556,0,0,0,.151-.454,1.075,1.075,0,0,0-.151-.454L12.25.076C12.1.076,11.948,0,11.8,0a1.075,1.075,0,0,0-.454.151L6.806,4.688a.284.284,0,0,1-.454,0L1.815.151A.578.578,0,0,0,1.437,0a.8.8,0,0,0-.378.151l-.907.907A.8.8,0,0,0,0,1.437a1.075,1.075,0,0,0,.151.454L4.688,6.428a.284.284,0,0,1,0,.454L.151,11.419A.578.578,0,0,0,0,11.8a1.075,1.075,0,0,0,.151.454l.832.832a.556.556,0,0,0,.454.151,1.075,1.075,0,0,0,.454-.151L6.428,8.545a.284.284,0,0,1,.454,0l4.537,4.537a.556.556,0,0,0,.454.151,1.075,1.075,0,0,0,.454-.151l.832-.832a.556.556,0,0,0,.151-.454,1.075,1.075,0,0,0-.151-.454Z" transform="translate(1428.146 316.133)"/>
  </g>
</svg>
</template>
