<template>
  <svg width="35" height="30" viewBox="0 0 34.9 29.2">
    <defs>
      <style>
        .house{fill: {{ color }}}
      </style>
    </defs>
    <g transform="translate(-13.1 -20.7)">
      <path class="house" d="M30.6,28.2,18.5,37.5V49.9h9.7V40.8h5.1v9.1h9.3V37.5Z"/>
      <path class="house" d="M30.6,25.6l15,11.6L48,34.1l-4.9-3.8V24H38v2.4l-7.4-5.7L13.1,34.1l2.4,3.1Z"/>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '#000000'
    }
  }
}
</script>
