<template>
  <svg width="30" height="30" viewBox="0 0 29.175 29.175">
    <defs>
      <style>
        .settings{
          fill: {{ color }};
          fill-rule:evenodd;
        }
      </style>
    </defs>
    <path class="settings" d="M29.1,13c0-.4-.5-.7-.9-.7a3.275,3.275,0,0,1-3-2A3.059,3.059,0,0,1,26,6.7a.792.792,0,0,0,.1-1.1,12.509,12.509,0,0,0-2.3-2.3.792.792,0,0,0-1.1.1,3.251,3.251,0,0,1-3.6.8,3.164,3.164,0,0,1-2-3.2.961.961,0,0,0-.7-.9A19.3,19.3,0,0,0,13,.1a.773.773,0,0,0-.7.8,3.311,3.311,0,0,1-2,3.1,3.213,3.213,0,0,1-3.6-.8.909.909,0,0,0-1.1-.1A13.629,13.629,0,0,0,3.2,5.5a.792.792,0,0,0,.1,1.1,3.251,3.251,0,0,1,.8,3.6,3.454,3.454,0,0,1-3.2,2,.713.713,0,0,0-.8.7,18.188,18.188,0,0,0,0,3.3c0,.4.5.7,1,.7a3.226,3.226,0,0,1,2.2,5.6.792.792,0,0,0-.1,1.1,12.508,12.508,0,0,0,2.3,2.3.792.792,0,0,0,1.1-.1,3.251,3.251,0,0,1,3.6-.8,3.164,3.164,0,0,1,2,3.2.961.961,0,0,0,.7.9,9.7,9.7,0,0,0,1.7.1,8.6,8.6,0,0,0,1.6-.1.773.773,0,0,0,.7-.8,3.311,3.311,0,0,1,2-3.1,3.435,3.435,0,0,1,3.6.8.792.792,0,0,0,1.1.1A17.526,17.526,0,0,0,26,23.8a.792.792,0,0,0-.1-1.1,3.226,3.226,0,0,1,2.2-5.6h.2a.961.961,0,0,0,.9-.7c0-1.2,0-2.3-.1-3.4ZM14.6,19.5a4.9,4.9,0,1,1,4.9-4.9,4.908,4.908,0,0,1-4.9,4.9Zm0,0" transform="translate(-0.025 -0.025)"/>
  </svg>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '#000000'
    }
  }
}
</script>
