<template lang="pug">
  input(:placeholder="placeholder", v-on:input="$emit('input', $event.target.value)"  v-bind:value="value")
</template>

<script>
export default {
  props: {
    placeholder: {
      type: String,
      default: ""
    },
    value: {
      type: String,
      default: ""
    }
  },
  methods: {
    updateValue() {
      this.$emit('input', $event.target.value)
    }
  }
}
</script>


<style lang="scss" scoped>
  input {
    border: none;
    border-bottom: solid 1px #BCBEC0;
    padding-bottom: 9px;
    padding-left: 0px;
    outline: none;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 20px;

    &::placeholder {
      color: #BCBEC0
    }
  }
</style>
