<template lang="pug">
  b-modal(v-model="open" hide-footer hide-header centered body-class="modalss" :no-close-on-backdrop="!closable" :no-close-on-esc="!closable")
    slot slot value
</template>

<script>
  export default {
    props: {
      open: {
        type: Boolean,
        required: true,
        default: false
      },
      closable: {
        type: Boolean,
        default: true,
      }
    }
  }
</script>

<style lang="scss">
  .modal-content {
    border-radius: 0px;
    border: none;
    box-shadow: 0px 3px 8px #444;
  }
</style>
