<template lang="pug">
  div.template-card-container
    div.template-card-header
      h3.template-card-title {{ title }}
      Datepicker(v-if="picker" @dateChange="dateChange").template-card-picker
    div.template-card-separator
    div.template-card-content
      slot
</template>

<script>
import Datepicker from '~/components/cards/chart-card/Datepicker.vue';

export default {
  components: {
    Datepicker
  },
  props: {
    title: {
      type: String,
      required: true
    },
    picker: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    dateChange(value) {
      this.$emit('dateChange', value)
    }
  }
}
</script>


<style lang="scss" scoped>
@import "~bootstrap/scss/bootstrap-grid.scss";
@import "../../assets/styles/app";

.template-card-container {
  border-radius: 6px;
  position: relative;
  margin: 10px auto;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1),
  0 2px 6px 0 rgba(0,0,0,.2);
}
.template-card-header {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.template-card-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $color;
  margin-left: 32px;
  font-size: 1.5em;
}
.template-card-separator {
  height: 1px;
  width: 100%;
  background-color: #E0E3DA;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
}
.template-card-content {
  padding: 33px;
  padding-top: 20px;
}
.template-card-header {
  /*min-height: 90px;*/
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.template-card-picker {
  margin-right: 32px;
  margin-bottom: 8px
}

.template-card-title {
  font-family: Roboto,sans-serif;
  font-size: 20px;
  font-weight: initial;
  color: $color;
  margin-left: 32px;
}

@include media-breakpoint-only(xs) {
  .template-card-title {
    margin-left: 10px;
  }
  .template-card-content {
  padding: 10px;
  }
}
</style>

