
<template>
    <card :title="cardName">
   <div class="payout__card-balance">
       <div>Ваш баланс:</div>
       <div v-if="wallet == 'BTC'" class="payout__card-balance-value">{{ balance | toFixed(3) }}</div>
       <div v-else class="payout__card-balance-value">{{ (balance  / 100) | toFixed(3) | toFixed(3) }}</div>
     &nbsp; {{wallet}}
   </div>
    <div class="payout__card-payout">
        <div class="payout__card-payout-title">Сумма вывода</div>
        <div class="payout__card-payout-wrapper">
            <input class="payout__card-payout-value" type="number" min="0" v-model="outValue"/>
            <validate-icon :valid="valid" v-if="outValue != 0"></validate-icon>
        </div>
    </div>
    <!--<b-button class="payout__card-button" size="sm" variant="primary" @click="send = !send"> ВЫВЕСТИ ДЕНЬГИ</b-button>-->
      <br/>
      <button class="button-crypto" type="button" @click="send = !send"> ВЫВЕСТИ ДЕНЬГИ </button>

      <send-mes v-if="send"  @close="send = false"></send-mes>
</card>
</template>

<script>
import Card from './Card.vue';
import ValidateIcon from '~/components/icons/ValidateIcon.vue';
import SendMes from '../modal/SendMes'

export default {
  data: () => ({
    outValue: 0,
    send: false
  }),
  computed: {
    cardName() {
      return `Вывод денег (${this.wallet})`
    },

    valid() {
    return this.outValue > 0 && this.outValue <= this.balance;
    }
  },
  components: {
    Card, ValidateIcon,SendMes
  },
  props: {
    wallet: {
      type: String,
      required: true
    },
    balance: {
      type: Number,
      required: true
    }
  },
}
</script>


<style lang="scss" scoped>
  @import "../../assets/styles/app.scss";


  .payout__card-balance {
    display: flex;
    color: #109BF8;
    font-family: 'Roboro', sans-serif;
    font-size: 18px;
    white-space: nowrap;
  }
  .payout__card-balance-value {
    color: #343940;
    margin-left: 4px;
  }
  .payout__card-payout {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    align-items: center;
    font-family: 'Roboro', sans-serif;
    font-size: 18px;
  }
  .payout__card-payout-value {
    font-family: 'Roboro', sans-serif;
    font-size: 18px;
    width: 140px;
    font-weight: 300;
    outline: none;
    color: #343940;
    margin-right: 10px;
    border-radius: 3px;
  }
  .payout__card-payout-title {
    margin-right: 4px;
  }
  .payout__card-payout-wrapper {
    display: flex;
    align-items: center
  }

</style>
