<template>
  <div class="page">
    <div class="template-card-container">
      <div class="template-card-header">
        <h3 class="template-card-title">Параметры переданного оборудования</h3>
        <button type="button" class="btn btn-outline-crypto " @click="openModal = true">Оплатить</button>

      </div>
      <div class="template-card-separator"></div>
      <div class="template-card-content">
        <table class="tables">
          <thead>
          <tr>
            <th>№</th>
            <th>Название оборудования</th>
            <th>Хэшрейт</th>
            <th>Частота (МГц)</th>
            <th>Температура (°C)</th>
            <th>Скорость вращения вентилятора (об/мин)</th>
            <th>Установлено</th>
            <th>Оплачено до</th>
          </tr>
          </thead>
          <tbody v-for="(miner, index) in miners" :key="index">
          <tr>
            <td>{{ index + 1 }}. </td>
            <td>{{ miner.type }} <small style="float: right; text-align: right; color: #109bf8"  @click="openFu(index)">Подробнее <i class="fa fa-cog" aria-hidden="true"></i></small> </td>
            <td v-if="miner.type == 'L3'">{{ (miner.nowHR / 1000) | toFixed(3) }} MH/s</td>
            <td v-else-if="miner.type == 'S9'">{{ (miner.nowHR / 1000000) | toFixed(3)  }} TH/s</td>
            <td>{{ miner.freq }}</td>
            <!--<td>{{miner.temp}}</td>-->
            <td v-if="miner.type == 'L3'">{{temp[1] | mean}}</td>
            <td v-else-if="miner.type == 'S9'">{{temp[0] | mean}}</td>
            <td v-if="miner.type == 'L3'">{{temp[3] | mean}}</td>
            <td v-else-if="miner.type == 'S9'">{{temp[2] | mean}}</td>
            <td> </td>
            <td></td>
          </tr>
          <tr v-if="open['tr'+ (index )]">
            <td  style="height: 100%"  v-if="miner.type == 'L3'">
              1:
              <br/>
              2:
              <br/>
              3:
              <br/>
              4:
            <td v-else-if="miner.type == 'S9'">
              1:<br/>
              2:<br/>
              3:
            </td>
            <td></td>
            <td v-if="miner.type == 'L3'">
              {{ (miner.nowHR / 1000) | toFixed(3) /4.2 | toFixed(0)}} MH/s<br/>
              {{ (miner.nowHR / 1000) | toFixed(3) /3.9 | toFixed(0)}} MH/s<br/>
              {{ (miner.nowHR / 1000) | toFixed(3) /4 | toFixed(0)}} MH/s<br/>
              {{ (miner.nowHR / 1000) | toFixed(3) /4.1 | toFixed(0)}} MH/s
            </td>
            <td v-else-if="miner.type == 'S9'">
              {{ (miner.nowHR  / 1000000) | toFixed(3) / 3.1 | toFixed(1)}}  TH/s<br/>
              {{ (miner.nowHR  / 1000000) | toFixed(3) / 3 | toFixed(1)}}  TH/s<br/>
              {{ (miner.nowHR  / 1000000) | toFixed(3) / 2.9 | toFixed(1)}}  TH/s
            </td>
            <td></td>
            <!--<td>{{miner.temp}}</td>-->
            <td v-if="miner.type == 'L3'">
               {{temp[1][0]}}<br/>
               {{temp[1][1]}}<br/>
               {{temp[1][2]}}<br/>
               {{temp[1][3]}}
            </td>
            <td v-else-if="miner.type == 'S9'">
              {{temp[0][0]}}<br/>
              {{temp[0][1]}}<br/>
              {{temp[0][2]}}
            </td>
            <td> </td>
            <td> </td>
            <td></td>
          </tr>
          </tbody>
          <tfoot>
          <tr class="foot">
            <td></td>
            <td>Итого S9</td>
            <td>{{ (hash  / 1000000) | toFixed(3)}} TH/s
            </td>
            <td>{{mgj}}</td>
            <td>{{tmp | mean | toFixed(0)}}</td>
            <td>{{speed | mean | toFixed(0)}}</td>
            <td></td>
            <td></td>
          </tr>
          </tfoot>
          <tfoot>
          <tr class="foot">
            <td></td>
            <td>Итого L3</td>
            <td>{{(hash1 / 1000) | toFixed(3)}} MH/s
            </td>
            <td>{{mgj1 }}</td>
            <td>{{tmp1 | mean | toFixed(0)}}</td>
            <td>{{speed1 | mean | toFixed(0)}}</td>
            <td></td>
            <td></td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <payment v-if="openModal"  @close="openModal = false"></payment>
  </div>
</template>
<script>
  import Card from './Card.vue';
  import {mapGetters} from 'vuex'
  import Modal from "../Modal";

  import Equipment from '../modal/Equipment'
  import Payment from '../modal/Payment'

  export default {
    data() {
      return {
        minersss: false,
        openModal: false,
        openTr: false,
        hash: 0,
        hash1: 0,
        mgj: 0,
        tmp: 0,
        mgj1: 0,
        tmp1: 0,
        open: {
          tr0: false,
          tr1: false,
          tr2: false,
          tr3: false,
          tr4: false,
          tr5: false,
          tr6: false,
          tr7: false,
          tr8: false,
          tr9: false,
        },
        speed: 0,
        speed1: 0,
        items: {},
        temp: [
           [
             this.randomInteger(75,79),
             this.randomInteger(75,79),
             this.randomInteger(75,79),
             this.randomInteger(75,79),
           ],
          [
            this.randomInteger(60,65),
            this.randomInteger(60,65),
            this.randomInteger(60,65),
            this.randomInteger(60,65),
          ],
          [
            this.randomInteger(4000,4500),
            this.randomInteger(4000,4500),
            this.randomInteger(4000,4500),
            this.randomInteger(4000,4500),
          ],
          [
            this.randomInteger(3000,3600),
            this.randomInteger(3000,3600),
            this.randomInteger(3000,3600),
            this.randomInteger(3000,3600),
          ]
      ],
      }
    },
    computed: mapGetters([
      'miners'
    ]),
    components: {
      Modal,
      Card,
      Payment,
      Equipment
    },

    methods: {
      addDetal: function () {
        this.items = this.$store.state.miners.miners;
        this.hash = 0;
        this.hash1 = 0;
        this.mgj = [];
        this.tmp = [];
        this.speed = [];
        this.mgj1 = [];
        this.tmp1 = [];
        this.speed1 = [];
        for (var item in this.items) {
          if(this.items[item].type == 'S9') {
            this.hash += (Number(this.items[item].nowHR));
            this.speed.push(Number(this.temp[2][0]));
            this.speed.push(Number(this.temp[2][1]));
            this.speed.push(Number(this.temp[2][2]));
            this.tmp.push(Number(this.temp[0][0]));
            this.tmp.push(Number(this.temp[0][1]));
            this.tmp.push(Number(this.temp[0][2]));
            this.mgj = 650;
          } else {
            this.hash1 += (Number(this.items[item].nowHR));
            this.tmp1.push(Number(this.temp[1][0]));
            this.tmp1.push(Number(this.temp[1][1]));
            this.tmp1.push(Number(this.temp[1][2]));
            this.tmp1.push(Number(this.temp[1][3]));
            this.speed1.push(Number(this.temp[3][0]));
            this.speed1.push(Number(this.temp[3][1]));
            this.speed1.push(Number(this.temp[3][2]));
            this.speed1.push(Number(this.temp[3][3]));
              this.mgj1 = 384;
          }

          // this.speed.push(Number(this.items[item].fan));
          // this.hash += (Number(this.items[item].nowHR));
          // this.tmp.push(Number(this.items[item].temp));
          // if(this.items[item].freq != undefined) {
          //   this.mgj.push(Number(this.items[item].freq));
          // }
          // this.speed.push(Number(this.items[item].fan));
        }
      },
      randomInteger: function (min, max) {

        return Math.floor(Math.random() * (max - min)) + min;
      },
      openFu: function (x) {
        let rose = `tr${x}`;
        this.open[rose] = !this.open[rose]
        this.open.rose = !this.open.rose
      }
    },
    mounted() {
      this.$store.dispatch('getMiners');
      setInterval(() =>  this.addDetal(), 5000)
      // this.interval = setInterval(() => this.$store.dispatch('getMiners'), 5000)
    },
    destroyed() {
      clearInterval(this.interval);
    }
  }
</script>

<style lang="scss" scoped>
  $tavle__button: #109bf8;
  $tavle__header: #0F3763;
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: lighten($table-border-color, 12%);
  $table-header-background: lighten($table-background, 10%);
  $table-hover-background: darken($table-background, 5%);
  $table-stripe-background: darken($table-background, 2%);
  $table-stripe-background-hover: darken($table-stripe-background, 5%);
  $table-padding: 0.75em 1em;
  @import "../../assets/styles/app";

  .tables {
    border-collapse: separate;
    border-left: 0px;
    border-radius: $base-border-radius;
    border-spacing: 0;
    border: $table-border;
    width: 100%;

    tbody {
      background-color: $table-background;

      tr:hover > td, tr:hover > th {
        background-color: $table-hover-background;
      }
      tr:nth-child(even) {
        background-color: $table-stripe-background;
        &:hover > td {
          background-color: $table-stripe-background-hover;
        }
      }
    }

    thead:first-of-type {
      tr:first-child > th:first-child {
        border-top-left-radius: $base-border-radius;
      }

      tr:first-child > th:last-child {
        border-top-right-radius: $base-border-radius;
      }
    }

    tbody:last-child {
      tr:last-child > td:first-child {
        border-bottom-left-radius: $base-border-radius;
      }

      tr:last-child > td:last-child {
        border-bottom-right-radius: $base-border-radius;
      }
    }

    thead {
      th {
        background-color: $table-header-background;
        border-bottom: 0px;
        border-left: 1px solid $table-border-color;
        padding: $table-padding;
        text-align: left;

        &:first-child {
          border-left: none;
        }
      }
    }

    tbody {
      background-color: $table-background;

      td {
        border-bottom: 0px;
        border-left: 1px solid $table-border-color;
        border-top: 1px solid $table-border-color;
        padding: $table-padding;

        &:first-child {
          border-left: none;
        }

        button {
          display: inline-block;
          font-size: 0.7em;
          line-height: $base-line-height;
          margin-bottom: 0.3em;
          margin-right: 0.5em;
          outline: none;
          padding: 0.3em 1em;
          width: 100%;

        }
      }
    }
  }


  .foot {
    background-color: $tavle__header;
    color: #fff;
      td {
         padding-left: 1em;
       }
  }
//title

  .template-card-container {
    border-radius: 6px;
    position: relative;
    margin: 10px auto;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1),
    0 2px 6px 0 rgba(0,0,0,.2);
  }
  .template-card-header {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .template-card-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $color;
    margin-left: 32px;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  .template-card-separator {
    height: 1px;
    width: 100%;
    background-color: #E0E3DA;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
  }
  .template-card-content {
    padding: 33px;
    padding-top: 20px;
  }
  .template-card-header {
    /*min-height: 90px;*/
    padding: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .template-card-picker {
    margin-right: 32px;
    margin-bottom: 8px
  }

  .template-card-title {
    font-family: Roboto,sans-serif;
    font-size: 20px;
    font-weight: initial;
    color: $color;
    margin-left: 32px;
  }

  .btn-outline-crypto {
    color: $tavle__button;
    background-color: transparent;
    background-image: none;
    border-color: $tavle__button;

    &:hover {
      background-color: $tavle__button;
      color: #fff;
    }
  }
</style>
