//CONST
$firstcolor: #0F3763;
$toocolor: #109bf8;
$threecolor: #343940;
$border-bottom: #95989A;


//ya
$background-body: #F7F9FB;
$color: #343940;

.header {
  background: #f8f8f8;
  display: flex;
  height: 60px;
  padding: 0 22px;
  align-items: stretch;
}

//
.header__side-right {
  flex: 1 1 100%;
}
.header_has-center .header__side-left {
  flex-grow: 0;
}
.header__side-left {
  flex-grow: 1;
}
//
.header__side-center {
  flex-shrink: 0;
}

.header__side-center {
  flex-grow: 1;
}
.header__side-center, .header__side-left, .header__side-right {
  display: flex;
  align-items: center;
}
//
.header__side-right {
  flex: 1 1 100%;
}
.header__side-right {
  justify-content: flex-end;
}
.header__side-center, .header__side-left, .header__side-right {
  display: flex;
  align-items: center;
}


//hlam

$primary-color: $firstcolor;
$secondary-color: $toocolor;
$background-color: $background-body;
$cu-green: #29c969;



//dark
$firstcolor_dark: darken($firstcolor,10%);
$firstcolor_light: lighten($firstcolor,10%);

//input
$color-input: #BCBEC0;
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}



body {
  background-color: $background-body;
}


//body
.page {
  color: #576271;
  padding-top: 15px;
}

.crypto {
  color: $toocolor;
}

.cr-input {
  border: none;
  border-bottom: solid 1px $color-input;
  padding-bottom: 9px;
  padding-left: 0px;
  outline: none;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin-top: 20px;

  &::placeholder {
    color: $color-input
  }
  &:focus {
    border-bottom: solid 1px $toocolor;
  }
}
//checkbox

.checkbox {
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}
.checkbox:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: rotate(-45deg) scale(0, 0);
  -moz-transform: rotate(-45deg) scale(0, 0);
  -ms-transform: rotate(-45deg) scale(0, 0);
  -o-transform: rotate(-45deg) scale(0, 0);
  transform: rotate(-45deg) scale(0, 0);
  content: "";
  position: absolute;
  left: 0.1875rem;
  top: 0.125rem;
  z-index: 1;
  width: 0.75rem;
  height: 0.375rem;
  border: 2px solid $toocolor;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg) scale(1, 1);
  -moz-transform: rotate(-45deg) scale(1, 1);
  -ms-transform: rotate(-45deg) scale(1, 1);
  -o-transform: rotate(-45deg) scale(1, 1);
  transform: rotate(-45deg) scale(1, 1);
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border: 2px solid $color-input;
  cursor: pointer;
}

// button
.button-crypto {
  //margin: 0 auto;

  font-size: 1.0rem;
  padding: 0.25rem 1rem;
  display: block;
  background-color: $toocolor;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-crypto:hover {
  background-color: #ffffff;
  color: $toocolor;
  border-color: $toocolor;
}
