@import "~bootstrap/scss/bootstrap-grid.scss";
@import "./app.scss";


.ring {
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title {
  margin-top: 45px;
  margin-bottom: 31px;
  color: $primary-color;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 400;
}

@include media-breakpoint-only(sm) {
  .page-title {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}
@include media-breakpoint-only(xs) {
  .page-title {
    margin-top: 15px;
    margin-bottom: 20px;

  }
}
