<template>
  <card :title="formatedTitle">
    <div class="container">
      <div class="grid">
          <div class="grid2">
            <div class="grid2__items">Суммарный хешрейт:</div>
            <b class="grid2__items">{{ sumHR }} {{ sumHRUnit }}</b>
          </div>
          <div class="grid2">
            <div class="grid2__items">Количество майнеров:</div>
            <b class="grid2__items"> {{ count }}</b>
          </div>
      </div>
        <ul>
            <li :class="{active: 'mount' == active}" @click="choseTab('mount')">Месяц</li>
            <li :class="{active: 'day' == active}" @click="choseTab('day')">Сутки</li>
            <li @click="choseTab('day')" class="select">
                <!--<datepicker v-if="'day' == active" @click="datesChange"  @dateChange="dateChange" style="text-align: right" ></datepicker>-->
                <select v-if="'day' == active" v-model="selected" @click="datesChange" class="">
                    <option disabled value="">Дата</option>
                    <option>2018-05-28</option>
                    <option>2018-05-29</option>
                    <option>2018-05-30</option>
                </select>
            </li>
        </ul>
        <!--<chart :realtime="realtime" v-if="plot" :data="plot" :min="from" :max="to" :unit="unit"></chart>-->
        <div v-if="miner.name == 'S9'" >
            <area-chart :library="{colors: ['#109bf894', '#fff']}" :discrete="true" label="Хешрейт" v-if="'mount' == active" :data="mount"></area-chart>
            <area-chart :library="{colors: ['#109bf894', '#fff']}" :discrete="true" label="Хешрейт" v-if="'day' == active" :data="day"></area-chart>
        </div>
        <div v-if="miner.name == 'L3'" >
            <area-chart :library="{colors: ['#109bf894', '#fff']}" :discrete="true" label="Хешрейт" v-if="'mount' == active" :data="mount1"></area-chart>
            <area-chart :library="{colors: ['#109bf894', '#fff']}" :discrete="true" label="Хешрейт" v-if="'day' == active" :data="day1"></area-chart>
        </div>
    </div>
  </card>
</template>
<script>
import Card from '~/components/cards/Card';
import Tabs from '~/components/cards/chart-card/Tabs';
import Chart from '~/components/cards/chart-card/Chart'
import moment from 'moment';
import { mapGetters } from 'vuex'
import Datepicker from '~/components/cards/chart-card/Datepicker';

export default {
  computed: {
    picker() {
      return this.range.type != 'seconds';
    },
    formatedTitle() {
      switch (this.miner.name) {
        case 'S9':
          var name = 'SHA-256';
        break;
        case 'L3':
          var name = 'SCRYPT';
          break;
        default:
          var name = 'No name';
          break;
      }
      return `${this.title} ${name}`;
    },
    from() {
      return moment(this.date).subtract(this.range.value, this.range.type);
    },
    to() {
      return moment(this.date).add(this.range, this.range.type);
    },
    realtime() {
      return this.from.diff(this.to, 'seconds') === 0;
    },
    plot() {
      if (!this.realtime) {
        return this.$store.getters.summaryByRange(this.miner.name);
      }
      return this.miner.plot;
    },
    sumHR() {
      return this.$store.getters.summarySumHR(this.miner.name).toFixed(2) || 0;
    },
    sumHRUnit() {
      if (this.miner.name == "S9") {
        return 'Th/s'
      } else {
        return 'Mh/s'
      }
    },
    count() {
      return this.$store.getters.summaryCount(this.miner.name) || 0;
    },
    unit() {
      if (!this.realtime) {
        return this.$store.getters.summaryUnit(this.miner.name);
      }
      return this.miner.unit;
    }
  },
  components: {
    Card, Tabs, Chart,
    Datepicker
  },
  props: {
    title: {
      type: String,
      required: true
    },
    miner: {
      type: Object,
      default: () => {
        name: ''
      }
    },
    info: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    date: moment(),
    range: {value: 0, type: 'seconds'},
    active: 'mount',
  mount: {
      '2018-05-20': 10.,
      '2018-05-21': Math.floor(Math.random() * (20 - 10)) + 10,
      '2018-05-22': Math.floor(Math.random() * (30 - 20)) + 20,
      '2018-05-23': Math.floor(Math.random() * (45 - 35)) + 35,
      '2018-05-24': Math.floor(Math.random() * (45 - 35)) + 35,
      '2018-05-25': Math.floor(Math.random() * (45 - 35)) + 35,
      '2018-05-26': Math.floor(Math.random() * (45 - 35)) + 35,
      '2018-05-27': Math.floor(Math.random() * (43 - 36)) + 36,
      '2018-05-28': Math.floor(Math.random() * (45 - 35)) + 35,
    },
  day: {
    '00:00': Math.floor(Math.random() * (45 - 35)) + 35,
    '02:00': Math.floor(Math.random() * (45 - 35)) + 35,
    '04:00': Math.floor(Math.random() * (45 - 35)) + 35,
    '06:00': Math.floor(Math.random() * (45 - 35)) + 35,
    '08:00': Math.floor(Math.random() * (45 - 35)) + 35,
    '10:00': Math.floor(Math.random() * (45 - 35)) + 35,
    '12:00': Math.floor(Math.random() * (45 - 35)) + 35,
    '14:00': Math.floor(Math.random() * (45 - 35)) + 35,
    '16:00': Math.floor(Math.random() * (45 - 35)) + 35,
    '18:00': Math.floor(Math.random() * (45 - 35)) + 35,
    '20:00': Math.floor(Math.random() * (45 - 35)) + 35,
    '22:00': Math.floor(Math.random() * (45 - 35)) + 35,
    '24:00': Math.floor(Math.random() * (45 - 35)) + 35,
  },
  mount1: {
    '2018-05-23': Math.floor(Math.random() * (560 - 390)) + 390,
    '2018-05-24': Math.floor(Math.random() * (560 - 390)) + 390,
    '2018-05-25': Math.floor(Math.random() * (560 - 390)) + 390,
    '2018-05-26': Math.floor(Math.random() * (560 - 390)) + 390,
    '2018-05-27': Math.floor(Math.random() * (560 - 390)) + 390,
    '2018-05-28': Math.floor(Math.random() * (560 - 390)) + 390,
  },
  day1: {
    '00:00': Math.floor(Math.random() * (560 - 390)) + 390,
    '02:00': Math.floor(Math.random() * (560 - 390)) + 390,
    '04:00': Math.floor(Math.random() * (560 - 390)) + 390,
    '06:00': Math.floor(Math.random() * (560 - 390)) + 390,
    '08:00': Math.floor(Math.random() * (560 - 390)) + 390,
    '10:00': Math.floor(Math.random() * (560 - 390)) + 390,
    '12:00': Math.floor(Math.random() * (560 - 390)) + 390,
    '14:00': Math.floor(Math.random() * (560 - 390)) + 390,
    '16:00': Math.floor(Math.random() * (560 - 390)) + 390,
    '18:00': Math.floor(Math.random() * (560 - 390)) + 390,
    '20:00': Math.floor(Math.random() * (560 - 390)) + 390,
    '22:00': Math.floor(Math.random() * (560 - 390)) + 390,
    '24:00': Math.floor(Math.random() * (560 - 390)) + 390,
  },
  selected: '',
  }),
  methods: {
  datesChange(x) {
    if(this.miner.name == 'S9') {
      this.day = {
        '00:00': Math.floor(Math.random() * (45 - 35)) + 35,
        '02:00': Math.floor(Math.random() * (45 - 35)) + 35,
        '04:00': Math.floor(Math.random() * (45 - 35)) + 35,
        '06:00': Math.floor(Math.random() * (45 - 35)) + 35,
        '08:00': Math.floor(Math.random() * (45 - 35)) + 35,
        '10:00': Math.floor(Math.random() * (45 - 35)) + 35,
        '12:00': Math.floor(Math.random() * (45 - 35)) + 35,
        '14:00': Math.floor(Math.random() * (45 - 35)) + 35,
        '16:00': Math.floor(Math.random() * (45 - 35)) + 35,
        '18:00': Math.floor(Math.random() * (45 - 35)) + 35,
        '20:00': Math.floor(Math.random() * (45 - 35)) + 35,
        '22:00': Math.floor(Math.random() * (45 - 35)) + 35,
        '24:00': Math.floor(Math.random() * (45 - 35)) + 35
      }
    } else {
      this.day1 = {
        '00:00': Math.floor(Math.random() * (560 - 390)) + 390,
        '02:00': Math.floor(Math.random() * (560 - 390)) + 390,
        '04:00': Math.floor(Math.random() * (560 - 390)) + 390,
        '06:00': Math.floor(Math.random() * (560 - 390)) + 390,
        '08:00': Math.floor(Math.random() * (560 - 390)) + 390,
        '10:00': Math.floor(Math.random() * (560 - 390)) + 390,
        '12:00': Math.floor(Math.random() * (560 - 390)) + 390,
        '14:00': Math.floor(Math.random() * (560 - 390)) + 390,
        '16:00': Math.floor(Math.random() * (560 - 390)) + 390,
        '18:00': Math.floor(Math.random() * (560 - 390)) + 390,
        '20:00': Math.floor(Math.random() * (560 - 390)) + 390,
        '22:00': Math.floor(Math.random() * (560 - 390)) + 390,
        '24:00': Math.floor(Math.random() * (560 - 390)) + 390,
      }
    }
  },
  choseTab(x) {
    this.active = x;
  },
    changeRange(value) {
      this.date = moment()
      this.range.value = value.range.value;
      this.range.type = value.range.type;
      this.$store.dispatch('getSummaryByRange', {type: this.miner.name, range: this.range.type})
    },
    dateChange(value) {
      this.date = moment(value);
    }
  }
}
</script>

<style lang="scss" scoped>
  .grid,
  .grid2 {
    display: grid;
    font-size: 1.1em;
    padding-bottom: 5px;
  }

  .grid {
    text-align: left;
    grid-template-columns: 50% 50%;
    font-size: 1.1em;
  }
  .grid2 {
    text-align: left;
    grid-template-columns: 60% 40%;
    font-size: 1.1em;
  }

  @media (max-width: 1024px) {
    .grid,
    .grid2 {
      grid-template-columns: 100%;
      &__items {
      text-align: center;
      }
    }
  }

  ul {
      list-style-type: none;
      margin-bottom: 36px;
      /*overflow: hidden;*/
      padding-bottom: 10px;
      padding-left: 0;
      padding-right: 0;

      li {
          float: left;
          cursor: pointer;
          margin-right: 15px;
          font-family: 'Roboto', sans-serif;
          font-size: 1.1em;
          font-weight: 300;
          color: #576271;
          padding-bottom: 5px;

          &:last-child {
              margin-right: 0;
          }
      }

      .active {
          border-bottom: #109BF8 solid 1px;
          padding-bottom: 4px;
          font-weight: 500;
          /*color: #343940;*/

      }

  }
//select
  .select {
      /*position: relative;*/
      /*display: inline-block;*/
      /*margin-bottom: 15px;*/
      /*width: 100%;*/
  }
  .select select {
      display: inline-block;
      width: 100%;
      cursor: pointer;
      padding: 2px 3px;
      outline: 0;
      border: 0;
      border-radius: 0;
      background: #e6e6e6;
      color: #7b7b7b;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
  }
  .select select::-ms-expand {
      display: none;
  }
  .select select:hover,
  .select select:focus {
      color: #000;
      background: #ccc;
  }
  .select select:disabled {
      opacity: 0.5;
      pointer-events: none;
  }
  .select__arrow {
      position: absolute;
      top: 16px;
      right: 15px;
      width: 0;
      height: 0;
      pointer-events: none;
      border-style: solid;
      border-width: 8px 5px 0 5px;
      border-color: #7b7b7b transparent transparent transparent;
  }
  .select select:hover ~ .select__arrow,
  .select select:focus ~ .select__arrow {
      border-top-color: #000;
  }
  .select select:disabled ~ .select__arrow {
      border-top-color: #ccc;
  }



</style>
