<template>
  <canvas ref="chart"></canvas>
</template>

<script>
if (process.browser) {
  require('chart.js')
  var moment = require('moment')
  require('chartjs-plugin-streaming')
}

export default {
  computed: {
    xType() {
      return this.realtime ? 'realtime' : 'time'
    }
  },
  props: {
    realtime: {
      type: Boolean,
      default: false
    },
    data: {
      type: Array,
      default: () => []
    },
    min: {
      type: Object,
    },
    max: {
      type: Object,
    },
    unit: {
      type: String,
      default: 'h/s'
    }
  },
  watch: {
    realtime: function(newVal, oldVal) {
      this.chart.destroy();
      this.drawGraph();
    },
    data: function(newVal, oldVal) {
      if (this.realtime)
        this.chart.update();
      else {
        this.chart.destroy();
        this.drawGraph();
      }
    },
    min: function(newVal, oldVal) {
      this.chart.destroy();
      this.drawGraph();
    },
    max: function(newVal, oldVal) {
      this.chart.destroy();
      this.drawGraph();
    },
  },
  created() {
    moment.locale("ru");
  },
  mounted() {
    this.drawGraph();
  },
  methods: {
    drawGraph() {
    var ctx = this.$refs.chart.getContext('2d');
    var gradientStroke = ctx.createLinearGradient(0, 0, 0, 450);
    gradientStroke.addColorStop(0, "#109BF8");
    gradientStroke.addColorStop(1, "rgba(255,255,255,0)");
    Chart.defaults.global.defaultFontFamily = "'Roboto', sans-serif";
    Chart.defaults.global.defaultFontSize = "12";
    Chart.defaults.global.defaultFontStyle = "500";
    Chart.defaults.global.defaultFontColor = "#343940";
    this.chart = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [{
          fill: true,
          lineTension: 0.35,
          backgroundColor: gradientStroke,
          borderColor: "#109BF8",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 7,
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "#109BF8",
          pointHoverBorderWidth: 3,
          pointHitRadius: 10,
          pointRadius: 0,
          data: this.data
        }]
      },
      options: {
        scales: {
          xAxes: [{
            type: this.xType,
            time: {
              displayFormats: {
                millisecond: 'LTS',
                second: 'H:mm:ss',
                minute: 'H:mm',
                hour: 'ddd H:mm',
                day: 'L',
                week: 'MM',
                month: 'MM',
                quarter: 'MM',
                year: 'x',
              },
              min: this.min,
              max: this.max,
            },
            gridLines: {
              display: false,
              drawBorder: false,
              zeroLineWidth: 0,
              color: '#EAEAEA'
            },
            scaleLabel: {
              display: true,
              labelString: 'Время'
            }
          }],
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: this.unit
            },
            ticks: {
              beginAtZero: true,
            }
          }],
        },
        plugins: {
          streaming: this.realtime && {
            delay: 2000,
          }
        },
        legend: {
          display: false
        }
      }
    });
    }
  }
}
</script>
