<template lang="pug">
  div.datepicker-wrapper
    datepicker(format="M-dd-yyyy" v-model="date" input-class="datepicker-input" :language="langulage" ref="inp")
    div(@click="triggerCalendar").staff
      svg(height="6" width="10" viewBox="0 0 9.802 5.892")
        path(class="arrow-button" d="M7.624,0A.4.4,0,0,0,7.5.04L3.932,3.451.321.04C.281.04.241,0,.2,0A.19.19,0,0,0,0,.2a.4.4,0,0,0,.04.12L3.772,3.852a.147.147,0,0,0,.12.04.4.4,0,0,0,.12-.04L7.744.321A.147.147,0,0,0,7.784.2C7.824.08,7.744,0,7.624,0Z" transform="translate(1 1)")
</template>

<script>
import Datepicker from 'vuejs-datepicker';
if (process.browser) {
  var langulage = require('vuejs-datepicker/dist/locale').ru
}

export default {
  data: () => ({
    langulage: langulage,
    date: new Date()
  }),
  components: {
    Datepicker
  },
  methods: {
    triggerCalendar () {
    	this.$refs.inp.showCalendar();
    },
    dateChange() {
      this.$emit('dateChange', this.date)
    }
  },
  watch: {
    'date': function(newVal, oldVal) {
      this.dateChange();
    }
  }
}
</script>

<style lang="scss">
  .datepicker-wrapper {
    position: relative;
    width: 130px;
  }
  .datepicker-input {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    padding: 6px 9px;
    width: 130px;
  }
  .staff {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 36.6px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #0F3763;
  }
  .arrow-button {
    fill: #fff;
    stroke: #fff;
    stroke-width: 2px;
  }
</style>
