<template lang="pug">
  ul
    li(v-for="(range, index) in ranges" :class="{active: index == active}" @click="choseTab(index)") {{ range.name }}
</template>

<script>
export default {
  data: () => ({
    active: 0,
    ranges: [
      // {name: 'Сейчас', range: {value: 0, type: 'seconds'}},
      {name: 'День', range: {value: 0.5, type: 'day'}},
      // {name: 'Неделя', range: {value: 0.5, type: 'week'}},
      {name: 'Месяц', range: {value: 0.5, type: 'month'}},
      // {name: 'Год', range: {value: 0.5, type: 'year'}},
    ]
  }),
  methods: {
    choseTab(index) {
      this.active = index;
      this.$emit('clicked', this.ranges[index])
    }
  }
}
</script>


<style lang="scss" scoped>
ul {
  list-style-type: none;
  margin-bottom: 36px;
  /*overflow: hidden;*/
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;

  li {
    float: left;
    cursor: pointer;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    color: #576271;
    padding-bottom: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  .active {
    border-bottom: #109BF8 solid 1px;
    padding-bottom: 4px;
    font-weight: 500;
    /*color: #343940;*/

  }

}
</style>
