<template lang="pug">
  no-ssr
    div.sidebar-container.fixed-top( v-if='$store.state.user != undefined' v-bind:class="{scroll: $store.state.user.role == 'admin'}")
      ul.sidenar-link-list
        sidebar-link(name="Главная", icon="house", link="/home")
        sidebar-link(name="Настройки", icon="settings", link="/settings")
        sidebar-link(name="Выплаты", icon="wallet", link="/payout")
        sidebar-link(name="Оборудование", icon="tech", link="/tech")
        sidebar-link(v-if="$store.state.user.role == 'admin'", name="Пользователи", icon="users", link="/users")
        sidebar-link( v-if="$store.state.user.role == 'admin'", name="Майнеры", icon="miners", link="/miners")
</template>

<script>
import SidebarLink from './SidebarLink.vue';
import { mapState } from 'vuex';

export default {
  mounted() {
      this.$store.dispatch('getUser');
  },
  computed: mapState([
    'user'
  ]),
  components: {
    SidebarLink
  }
}
</script>


<style lang="scss" scoped>
@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~/assets/styles/constants.scss";
@import "~/assets/styles/index.scss";
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $background-color; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aaa; 
}

.sidebar-container {
  height: 100%;
  width: $sidebar-width;
  background-color: #ffffff;
  padding-top: 25px + $navbar-height;
  z-index: 999;
  // overflow-y: scroll;
}
.scroll {
  overflow-y: scroll;
}
.sidenar-link-list {
  padding: 0;
  list-style-type: none;
}


@include media-breakpoint-only(sm) {
  .sidebar-container {
    width: $sidebar-width-sm;
  }
}
@include media-breakpoint-only(xs) {
  .sidebar-container {
    width: $sidebar-width-xs;
  }
}

</style>
