<template lang="pug">
  nuxt-link(:to="link" tag="li").sidebar-link-wrapper
    div.sidebar-link-content
      div.sidebar-link-icon-wrapper(v-if="!!icon")
        IconController(:icon="icon" :color="iconColor")
      div.sidebar-link-name {{ name }}
    div.right-line
</template>

<script>
import IconController from '~/components/icons/IconController.vue';

export default {
  computed: {
    iconColor() {
      return this.$route.path === this.link ? "#FFFFFF" : "#BCBEC0";
    }
  },
  components: {
    IconController
  },
  props: {
    name: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    },
    link: {
      type: String,
      required: true
    },
  }
}
</script>


<style lang="scss">
@import '~/assets/styles/index.scss';
@import "~bootstrap/scss/bootstrap-grid.scss";

.sidebar-link-wrapper {
  height: 110px;
  width: 100%;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $background-color;
  }
}
.right-line {
  position: absolute;
  top: 0;
  right: 0;
}
.sidebar-link-name {
  font-family: 'Roboto', sans-serif;
  color: #576271;
  font-weight: 300;
  line-height: 16px;
  margin-top: 2px;
  font-size: 14px;
}
.sidebar-link-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-link-icon-wrapper {
  width: 61.1px;
  height: 70.5px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nuxt-link-exact-active {
  .sidebar-link-icon-wrapper {
    background: url('/6corners.svg') no-repeat center center;
    background-size: auto;
  }
  .sidebar-link-name {
    color: $primary-color;
  }
  .right-line {
    height: 100%;
    width: 4px;
    background-color: $primary-color;
  }
}
@include media-breakpoint-only(xs) {
  .sidebar-link-name {
    display: none;
  }
  .right-line {
    display: none;
  }
  .sidebar-link-wrapper {
    height: 56px;
  }
  .sidebar-link-icon-wrapper {
    width: 40px;
    height: 56px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nuxt-link-exact-active {
    .sidebar-link-icon-wrapper {
      background: none;
      background-color: $primary-color;
    }
    .sidebar-link-wrapper {
      background-color: $primary-color;
    }
  }
}
</style>
