<template lang="pug">
  div.row.page-wrapper
    div.col-12.col-lg-6
      nuxt

    div.col-6.d-none.d-lg-block.right-block-root
      div.right-block-wrapper
        h1.right-block-top-title CRYPTOUNIVERSE
        a(href="/").right-block-logo
          img(src="~/assets/images/logo-colapsed.svg")
        
          
        h1.right-block-bottom-title ЗДЕСЬ ЖИВЕТ БУДУЩЕЕ
</template>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic');
  @import url('http://allfont.ru/allfont.css?fonts=europe-italic');
  @import '~/assets/styles/index.scss';
  @import '~/assets/styles/constants.scss';
  @import "~bootstrap/scss/bootstrap-grid.scss";

  html {
  font-family: 'Roboto', sans-serif;
  }

  html, body, .page-wrapper, #__nuxt, #__layout {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  body {
    background-color: $background-color;
    max-height: 100%;
  }

  *, *:before, *:after {
    margin: 0;
    box-sizing: border-box;
  }

  .right-block-wrapper {
    background-color: #109BF8;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // a {
    //   width: 100%;
    //   text-align: center;
    //   img {
    //     max-width: 70%;
    //   }
    // }
  }

  .right-block-root {
    padding: 0;
  }

  .right-block-logo {
    width: 60%;
    text-align: center;
    img {
      width: 70%;
    }
  }

  .right-block-top-title {
    font-family: 'Europe Italic', arial;
    font-size: 50px;
    margin-top: 69px;
    color: #ffffff;
  }

  .right-block-bottom-title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-bottom: 85px;
    color: #ffffff;
    margin-top: 8px;
  }
</style>