<template lang="pug">
  div.page-wrapper
    navbar
    div.content-wrapper
      sidebar
      div.container-fluid.page-container
        nuxt
</template>

<script>
import Navbar from '~/components/layout/navbar/Navbar.vue'
import Sidebar from '~/components/layout/sidebar/Sidebar.vue'
import { mapState } from 'vuex'
import Cookies from 'js-cookie';
export default {
  computed: mapState([
    'token'
  ]),
  mounted(){
    if ((!this.$store.state.token) && !!Cookies.get('auth')) {
      this.$store.commit('setToken', Cookies.get('auth'));
    }
    if (!Cookies.get('auth') || Cookies.get('auth') == 'lol') {
      this.$router.push('/login')
    }
  },
  components: {
    Navbar, Sidebar
  }
}
</script>


<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic');
@import '~/assets/styles/index.scss';
@import '~/assets/styles/constants.scss';
@import "~bootstrap/scss/bootstrap-grid.scss";

html {
  font-family: 'Roboto', sans-serif;
}

html, body, .page-wrapper, #__nuxt, #__layout {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: $background-color;
  max-height: 100%;
}

*, *:before, *:after {
  margin: 0;
  box-sizing: border-box;
}

.content-wrapper {
  display: flex;
  height: 100%;
}

.page-container {

  padding-left: $sidebar-width + 67px !important;
  padding-right: 67px;
}

@include media-breakpoint-only(sm) {
  .page-container {
    padding-right: 24px;
    padding-left: $sidebar-width-sm + 24px !important;
  }
}
@include media-breakpoint-only(xs) {
  .page-container {
    padding-left: $sidebar-width-xs + 15px !important;
    padding-right: 15px !important;
  }
}
</style>