<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
              <div class="text-center modal-container">
                    <div class="modal-headers">
                      <h3 class="modal-title" >
                        ЗАЯВКА НА РЕГИСТРАЦИЮ
                      </h3>
                      <div>
                        <i @click="$emit('close')" class="closer"></i>
                      </div>
                    </div>
                    <div class="modal-body" style="text-align: left; width: 70%;">
                      <input class="cr-input" placeholder="ИМЯ"  v-model="name"/>
                      <input class="cr-input" placeholder="E-MAIL"  v-model="email"/>
                      <input class="cr-input" placeholder="ТЕЛЕФОН"  v-model="phone"/>
                      <div style="padding-top: 15px">
                        <input type="checkbox" class="checkbox" v-model="regul">  Я согласен с условиями обработки персональных данных
                      </div>
                    </div>
                    <div class="modal-footers">
                      <div class="txt-btn-medium">
                        <button class="button-crypto" type="button" @click="formSend">Отправить</button>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "modal",
      data() {
        return {
          regul: '',
          phone: '',
          name: '',
          email: '',
        }
      },
      methods: {
        formSend: function () {
          let uri = `/api/bid/`;
          this.axios.post(uri, {name: this.name, phone: this.phone, email: this.email, regul: this.regul}).then((response) => {
            if (response.data) {
              this.wind = x;
              this.errorkody = false;
            } else {
              this.errorkody = true;
            }
          });

        }
      }
    }
</script>

<style lang="scss" scoped>
  @import "../../assets/styles/app.scss";

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  .modal-wrapper {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  .modal-container {
  //height: auto;
    margin: 0px auto;
    /*padding: 5px 30px;*/
    width: 50%;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    border: 1px solid rgba(0,0,0,.2);
    transition: all .3s ease;
  //font-family: Helvetica, Arial, sans-serif;
  }
  @media  (max-width: 600px) {
    .modal-container {
      width: 95%;
    }
  }

  .modal-headers {
    display: flex;
    padding: 15px 30px 12px 30px;
    border-bottom: 1px solid $border-bottom;

    flex-direction: row;
    justify-content: space-between;
  }

  .modal-headers .closer{
    padding: 10px;
  }
  .modal-headers h3 {
    margin-top: 0;
    color: $firstcolor;
    text-transform: uppercase;
  }
  .modal-footers {
    padding-left: 35px;
    padding-bottom: 20px;
    /*border-top: 1px solid #e5e5e5;*/
  }

  .modal-body {
    margin: 20px 20px 20px 20px;
  }

  .modal-default-button {
    float: right;
  }

  .modal-enter {
    opacity: 0;
  }
  .modal-leave-active {
    opacity: 0;
  }
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .closer {
    position: sticky;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .closer:hover {
    opacity: 1;
  }
  .closer:before, .closer:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .closer:before {
    transform: rotate(45deg);
  }
  .closer:after {
    transform: rotate(-45deg);
  }

</style>
