<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper" style="text-align: center">
                <div class="col-xs-4 col-sm-4 col-md-4 col-sm-1 text-center modal-container" style=" margin-left: auto;
    margin-right: auto;">
                    <button type="button" class="close" style="cursor:pointer" @click="$emit('close')"
                            aria-label="Close"><i style="padding: 10px" class="fa fa-times" aria-hidden="true"></i>
                    </button>

                    <div class="modal-headers">
                      <h3 class="modal-title">Параметры переданного оборудования
                      </h3>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footers">
                      <div class="txt-btn-medium text-center">


                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "modal",

    }
</script>

<style lang="scss" scoped>

  .modal-mask {

    position: fixed;

    z-index: 9998;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background-color: rgba(0, 0, 0, .5);

    display: table;

    transition: opacity .3s ease;

  }



  .modal-wrapper {

    display: table-cell;

    vertical-align: middle;

  }



  .modal-container {



  //height: auto;

    margin: 0px auto;

    padding: 5px 30px;

    background-color: #fff;

    border-radius: 6px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);

    border: 1px solid rgba(0,0,0,.2);

    transition: all .3s ease;

  //font-family: Helvetica, Arial, sans-serif;

  }

  .modal-headers {

    padding: 15px;

    border-bottom: 1px solid #e5e5e5

  }



  .modal-headers .close{

    padding: 10px;

  }



  .modal-headers h3 {

    margin-top: 0;

    color: #428bca;

  }



  .modal-footers {

    padding: 15px;

    text-align: right;

    border-top: 1px solid #e5e5e5;

  }



  .modal-body {

    margin: 20px 0;

  }



  .modal-default-button {

    float: right;

  }







  .modal-enter {

    opacity: 0;

  }



  .modal-leave-active {

    opacity: 0;

  }



  .modal-enter .modal-container,

  .modal-leave-active .modal-container {

    -webkit-transform: scale(1.1);

    transform: scale(1.1);

  }

</style>
