<section class="p-0" id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/1.png">
          <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt=""><div class="portfolio-box-caption">
            </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/2.png">
          <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt=""><div class="portfolio-box-caption">
            </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/3.png">
          <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt=""><div class="portfolio-box-caption">
            </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/4.png">
          <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt=""><div class="portfolio-box-caption">
            </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/5.png">
          <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt=""><div class="portfolio-box-caption">
            </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/6.png">
          <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
          <div class="portfolio-box-caption">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-black text-white" id="3d">
    <div class="container text-center">
      <h2 class="mb-4">3D Панорама</h2>
      <a class="btn btn-border btn-xl sr-button" href="3d" style="border-radius: 300px;">
        <img src="img/360.png" alt="" srcset="">
      </a>
    </div>
  </section>