<template>
  <div class="page">
    <h2 class="page-title">Главная страница</h2>
    <div class="grid">
       <div class="grid__item" v-if="predicts.BTC != undefined">
        <card :title="'Баланс Bitcoin'">
          <h2 class="text-center" >{{BTC}} BTC</h2>
          <transition name="fade">
            <div v-if="clickOpen1" class="profits">
              <table class="table table-bordered">
                <tbody>
                <tr v-if="predicts.BTC != undefined" class="table__header">
                  <td>Период</td>
                  <td>Намайнено</td>
                  <td>Итого (Доход+Баланс)</td>
                </tr>
                <tr class="table__body" v-if="predicts.BTC != undefined" v-for="predict in predicts.BTC" :key="predict.id" >
                  <td class="green">
                    <small style="font-weight:700">{{predict.name}}</small>
                    <p>+ {{Math.floor(predict.usd)}} $</p>
                  </td>
                  <td>
                    <p></p>+ {{Math.round(predict.btc * 1000000) / 1000000}} BTC
                  </td>
                  <td>
                    <p  ></p>{{Math.round((parseFloat(BTC) + parseFloat(predict.btc)) * 1000000) / 1000000}} BTC
                  </td>
                </tr>
                <tr v-if="predicts.BTC == undefined"><td> No Items</td></tr>
                </tbody>
              </table>
            </div>
          </transition>
          <div class="card-footer" @click="clickOpen1 = !clickOpen1">
            <div>
              <h5 class="text-center cursor" v-if="clickOpen1">Скрыть <i class="fa fa-chevron-circle-up"></i></h5>
              <h5 class="text-center cursor" v-else>Прогноз доходности  <i class="fa fa-chevron-circle-down"></i></h5>
            </div>
          </div>
        </card>
      </div>
      <div class="grid__item"  >
        <card :title="'Баланс Litcoin'">
          <h2 class="text-center">{{(LTC / 100) | toFixed(3)}} LTC</h2>
          <transition name="fade">
            <div v-if="clickOpen2" class="profits">
              <table class="table table-bordered">
                <tbody>
                <tr v-if="predicts.LTC != undefined" class="table__header">
                  <td>Период</td>
                  <td>Намайнено</td>
                  <td>Итого (Доход+Баланс)</td>
                </tr>
                <tr class="table__body" v-if="predicts.LTC != undefined" v-for="predict in predicts.LTC" :key="predict.id" >
                  <td class="green">
                    <small style="font-weight:700">{{predict.name}}</small>
                    <p>+ {{Math.floor(predict.usd)}} $</p>
                  </td>
                  <td>
                    + {{Math.round(predict.ltc * 1000000) / 1000000}} BTC
                  </td>
                  <td>
                    {{Math.round((parseFloat(LTC) + parseFloat(predict.ltc)) * 1000000) / 1000000}} BTC
                  </td>
                </tr>
                <tr v-if="predicts.LTC == undefined"><td> Данные загружаются</td></tr>
                </tbody>
              </table>
            </div>
          </transition>
          <div class="card-footer" @click="clickOpen2 = !clickOpen2">
            <div>
              <h5 class="text-center cursor" v-if="clickOpen2">Скрыть <i class="fa fa-chevron-circle-up"></i></h5>
              <h5 class="text-center cursor" v-else>Прогноз доходности  <i class="fa fa-chevron-circle-down"></i></h5>
            </div>
          </div>
        </card>
      </div>
    </div>
    <div class="row grid2">
      <div v-if="!summaryFetched">
        <span class="text">Loading</span>
        <span class="blob1 blob"></span>
        <span class="blob2 blob"></span>
        <span class="blob3 blob"></span>
      </div>
      <div v-for="(miner,key) in summaryPlotRealtime" :key="key" class="grid__item" >
        <chart-card :title="'Суммарный Хэшрейт по Алгоритму '" :miner="miner"></chart-card>
      </div>
    </div>
  </div>
</template>

<script>
  import Card from '~/components/cards/Card.vue';
  import ChartCard from '~/components/cards/chart-card/ChartCard';
  import api from '~/config'
  import Cookies from 'cookies-js';
  import {mapState, mapGetters} from 'vuex';
  import Chart from "../components/cards/chart-card/Chart";
  import Vue from 'vue'
  Vue.directive('numflip', {
    bind: function(el, binding) {
      el.innerHTML = binding.value
    },
    update: function (el, binding, vnode) {
      var numberAnimation = function(el, oldValue, newValue) {
        var start = null, duration = 2000
        function step(timestamp) {
          if (!start) start = timestamp;
          var progress = timestamp - start;
          el.innerHTML = Math.round(oldValue + (newValue-oldValue)*progress/duration)
          if (progress < duration) {
            window.requestAnimationFrame(step);
          } else {
            el.innerHTML = newValue
          }
        }
        el.innerHTML = oldValue
        window.requestAnimationFrame(step);
      };
      if(binding.value != binding.oldValue && binding.value !== false) {
        numberAnimation(el, binding.oldValue, binding.value)
      }
    }
  })

  export default {
    computed: {
      ...mapState(['summary', 'rates', 'predicts']),
      ...mapGetters(['summaryPlotRealtime', 'summaryFetched']),
      BTC: function () {
        var sum = 0
        this.$store.state.profits.S9.forEach(function (item) {
          sum += item.profit
        });
        return sum.toFixed(3)
      },
      LTC: function () {
        var sum = 0
        this.$store.state.profits.L3.forEach(function (item) {
          sum += item.profit
        });
        return sum.toFixed(3)
      }
    },
    layout: 'dashboard',
    components: {
      Chart,
      Card,
      ChartCard
    },
    data() {
      return {
        S9: 0,
        L3: 0,
        S9NUM: 0,
        L3NUM: 0,
        response: false,
        static: false,
        clickOpen1: false,
        clickOpen2: false,

      }
    },
    mounted() {
      //   for(var i = 0; i < profits.L3)
      //  "(item, index) in profits.L3"
      if (!!Cookies.get('auth') && Cookies.get('auth') != 'lol') {
        this.$store.commit('setToken', Cookies.get('auth'));
        this.$store.dispatch('getUser');
        this.$store.dispatch('getProfit');
        this.$store.dispatch('getPredicts');

        // setInterval(() => {
        //   this.$store.dispatch('getSummary');
        //   this.response = true
        // }, 2000)
        this.$store.dispatch('getSummary');
        this.response = true
      }
    },
  }
</script>

<style lang="scss" scoped>
  @import "../assets/styles/app.scss";
  $tavle__header: $firstcolor;



  .table__header {
    background-color: $tavle__header;
    color: #fff;
  }
  .table__body {
    td {
      padding: 0.3em;
    }
  }
  .profits {
    overflow: auto;
  }
  .info {
    margin-top:30px;
    margin-bottom: 30px;
  }
  td {
    text-align: center;
  }


  .row {
    padding-right: 15px;
    padding-left: 15px;
  }
  .grid,
  .grid2 {
    display: grid;
  }

  .grid,
  .grid2 {
    grid-template-columns: 50% 50%;

    &__item {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @media (max-width: 1024px) {
    .grid,
    .grid2 {
      grid-template-columns: 100%;
      &__item {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }


  .cursor {
    cursor: pointer
  }

  //loading

  $twitter: $toocolor;

  .loading {
    margin: auto;
    width: 100px;
    padding-left: 15px;

  }

  .text {
    float: left;
    color: $twitter;
    font-weight: bold;
    padding-left: 15px;

  }

  .blob {
    border-radius: 50%;
    background-color: $twitter;
    display: block;
    float: left;
    margin: 5px 2px;
    position: relative;
    top: 6px;
    height: 3px;
    width: 3px;
    animation: loading-blob 1.2s infinite;
    animation-timing-function: ease-in-out;
    transform: translate3d(0, 0, 0);
  }

  .blob2 {
    animation-delay: 150ms;
  }

  .blob3 {
    animation-delay: 300ms;
  }


  @keyframes loading-blob {
    0% { height: 3px; width: 3px;}
    25% { height: 7px; width: 7px;}
    50% { height: 5px; width: 5px; }
    100% { height: 3px; width: 3px; }
  }

  .clearfix {
    zoom: 1;
    &:before { content: ''; display: block; }
    &:after { content: ''; display: table; clear: both;}
  }
</style>
