<template lang="pug">
  div.signin-wrapper
    card(title="АВТОРИЗАЦИЯ" style="width: 400px")
      Input(placeholder="EMAIL" v-model="form.email" type="email")
      Input(placeholder="ПАРОЛЬ", v-model="form.password" type="password")
      div.signin-controll
        button(type="button" @click="login" class="btn btn-primary btn-sm").controll-button
          | ВОЙТИ

</template>

<style lang="scss" scoped>
  @import "../assets/styles/app.scss";

.signin-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;body {
  padding: 0 !important;
}
}
.signin-controll {
  display: flex;
  align-items: center;
  margin-top: 33px;
}
.controll-button {
  background-color: #109BF8;
  padding: 4px 29px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border: none;
}
body {
  padding: 0;
}
</style>

<script>
import Card from '~/components/cards/Card.vue';
import Input from '~/components/Input';
import api from "~/config"
import Cookies from 'cookies-js';
import swal from 'sweetalert'
import http from '../components/services/http'



export default {
  layout: "authorization",
  components: {
    Card, Input
  },
  data() {
    return {
      form: {
        email: '',
        password: ''
      }
    }
  },
  beforeMount() {
    if ((!!Cookies.get('auth') && Cookies.get('auth') != 'lol') && !this.$store.state.token) {
      if (this.$store.state.token) {
      this.$router.replace('/home')
    } else {
      this.$store.commit('setToken', Cookies.get('auth'));
      this.$router.replace('/home')
    }

    }
  },
  methods: {
    login() {
      let url = `api/login/`;
      http().post(url,  this.form)
        .then((response) => {
          if (response.data.res) {
                  Cookies.set("auth", response.data.auth)
                  this.$store.commit('setToken', response.data.auth)
                  this.$router.replace('/home')
                } else {
                  swal('Неверный логин или пароль')
                }
          })
        .catch(function (error) {
            swal('Ошибка соединения!')
        })
    },
  }
}
</script>
