<template lang="pug">
div.minersPanel.page
  no-ssr
    table
      thead
        tr
          td IP
          td(style="width: 40px;") Вид (S9||L3)
          td(style="width: 40px;") Номинал (МНs)
          td(style="width: 40px;") Частота
          td Владелец
          td Дата добавления
          td Оплечен до
          td Действие

      tbody
        h3  Добавить новый
        tr

          td
            input(v-model="form.ip")
          td
            input(v-model="form.type", style="width: 40px;")
          td
            input(v-model="form.avgHR", style="width: 40px;")
          td
            input(v-model="form.freq", style="width: 40px;")
          td
            input(v-model="form.OwnerID")
          td
          td
          td
            b-button(@click="newMiner") Добавить
        h3  Поиск
        tr
          td
            input(v-model="filter.ip")
          td
            input(v-model="filter.type", style="width: 40px;")
          td
            input(v-model="filter.avgHR", style="width: 40px;")
          td
            input(v-model="filter.freq", style="width: 40px;")
          td
            input(v-model="filter.OwnerID")
          td
          td
          td
            b-button(@click="getFiltered") Применить
        h3  Существующие
        tr(v-for="miner in miners")
          td
            input(v-model="miner.ip")
          td
            input(v-model="miner.type", style="width: 40px;")
          td
            input(v-model="miner.avgHR", style="width: 40px;")
          td
            input(v-model="miner.freq", style="width: 40px;")
          td
            input(v-model="miner.OwnerID")
          td
            div  {{miner.DateFrom | moment("dddd, MMMM Do YYYY")}}
          td
            div  {{miner.lastWithDr | moment("dddd, MMMM Do YYYY")}}
          td
            b-button(@click="updateMiner(miner)") Сохранить
            b-button(@click="removeMiner(miner._id)") Удалить

</template>
<style lang="scss" scoped>
  @import "../assets/styles/app.scss";


  .minersPanel {
  margin-top: 50px;
  width: 80%;
  overflow-x: scroll
  table {
    overflow-x:auto;

  }
  td {
    margin-top: 40px;
    text-align: center;
    input {
      text-align: center;
      margin-left: 20px;
    }
  }
  tr {
    // border-top: 2px solid #222;
    border-bottom: 2px solid #222;
    margin: 20px;
  }
}
.btn {
  width: 100%;
  margin-bottom: 5px;
}
</style>

<script>
import api from '~/config.js'
import swal from 'sweetalert'

function useURLFilter(vue) {
  vue.filter.OwnerID = vue.$route.query.OwnerID;
  vue.filter.ip = vue.$route.query.ip;
  vue.filter.type = vue.$route.query.type;
  vue.filter.avgHR = vue.$route.query.avgHR;
}

function getMiners(vue) {
  var url = api.url + '/miners?token=' + vue.$store.state.token;
  if (!!vue.filter.OwnerID) {
    url += '&OwnerID=' + vue.filter.OwnerID;
  }
    if (!!vue.filter.ip) {
    url += '&ip=' + vue.filter.ip;
  }
    if (!!vue.filter.type) {
    url += '&type=' + vue.filter.type;
  }
    if (!!vue.filter.avgHR) {
    url += '&avgHR=' + vue.filter.avgHR;
  }
  vue.$http.get(url).then(
    res => {
      vue.miners = res.data
      console.log(res.data);
    }
  )
}
export default {
  layout: 'dashboard',
  mounted() {
    this.form.OwnerID = this.$route.query.OwnerID
    useURLFilter(this)
    getMiners(this)
  },
  data() {
    return {
      filter: {},
      miners: [],
      form: {}
    }
  },
  methods: {
    newMiner() {
      var url = api.url + '/miners?token=' + this.$store.state.token;
      this.$http.post(url, this.form).then(
      res => {
        this.form = {}
        getMiners(this)
      }
    )
    },
    getFiltered() {
        getMiners(this)
    },
    updateMiner(miner) {
      var url = api.url + '/miners?token=' + this.$store.state.token;
      this.$http.put(url, miner).then(
      res => {
      }
    )
    },
    removeMiner(minerId) {
      var url = api.url + '/miners?token=' + this.$store.state.token;
      url += "&miner=" + minerId;
      swal("Точно удалить?").then( confirm => {
        if(confirm) {
        this.$http.delete(url).then(
        res => {
          this.form = {}
          getMiners(this)
        }
      )
        }
      }
    )
    }
  }
}
</script>



