<template>
  <div class="page">
    <h2 class="page-title">Выплаты</h2>

    <div v-for="(miner,index) in summaryPlotRealtime" v-bind:key="index" class="">
    <!--<div>-->
        <div    class="col-12">
          <div class="template-card-container">

            <div class="template-card-content">
              <area-chart :library="{colors: ['#109bf894', '#fff']}" prefix="BTC " :discrete="true" v-if="index =='0'" label="Намайнено" :data="mount"></area-chart>
              <area-chart :library="{colors: ['#109bf894', '#fff']}" prefix="LTC " :discrete="true" v-if="index =='1'" label="Намайнено" :data="mount1"></area-chart>
            </div>
          </div>
          </div>
        <div class="col-12">
            <payout-card :wallet="index =='0' ? 'BTC':'LTC' " :balance="balance(miner.name)"></payout-card>
        </div>
    </div>
    </div>
</template>

<script>
import PayoutCard from '~/components/cards/PayoutCard'
import ChartCard from '~/components/cards/chart-card/ChartCard'
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {ChartCard},
  layout: 'dashboard',
  computed: {
    ...mapGetters([
      'balance',
      'summaryPlotRealtime'
    ])
  },
  methods: {
    ...mapActions([
      'getProfit',
      'getSummary'
    ])
  },
  components: {
    PayoutCard, ChartCard
  },
data: () => ({

  mount: {
    '2018-05-01': 0,
    '2018-05-02': 0,
    '2018-05-03': 0,
    '2018-05-04': 0,
    '2018-05-05': 0,
    '2018-05-06': 0.001,
    '2018-05-07': 0.005,
    '2018-05-08': 0.006,
    '2018-05-09': 0.007,
    '2018-05-10': 0.008,
    '2018-05-11': 0.009,
    '2018-05-12': 0.01,
    '2018-05-13': 0,
    '2018-05-14': 0.001,
    '2018-05-15': 0.004,
    '2018-05-16': 0.007,
    '2018-05-17': 0.008,
    '2018-05-18': 0.010,
    '2018-05-19': 0.011,
    '2018-05-20': 0.01213519,
    '2018-05-21': 0,
    '2018-05-22': 0.01973513,
    '2018-05-23': 0.03377525,
    '2018-05-24': 0.03613526,
    '2018-05-25': 0.03873583,
    '2018-05-26': 0.04075593,
    '2018-05-27': 0.04273513,
    '2018-05-28': 0.04563513,
  },
  mount1: {
    '2018-05-01': 0,
    '2018-05-02': 0,
    '2018-05-03': 0,
    '2018-05-04': 0,
    '2018-05-05': 0,
    '2018-05-06': 0,
    '2018-05-07': 0,
    '2018-05-08': 0,
    '2018-05-09': 0,
    '2018-05-10': 0,
    '2018-05-11': 0,
    '2018-05-12': 0,
    '2018-05-13': 0,
    '2018-05-14': 1,
    '2018-05-15': 1.5,
    '2018-05-16': 2,
    '2018-05-17': 2.5,
    '2018-05-18': 2.9,
    '2018-05-19': 3,
    '2018-05-20': 4.329273,
    '2018-05-21': 0,
    '2018-05-22': 1.356214,
    '2018-05-23': 1.585265,
    '2018-05-24': 1.916615,
    '2018-05-25': 2.541585,
    '2018-05-26': 3.16199273,
    '2018-05-27': 3.9511144,
    '2018-05-28': 4.25199273,
  },
}),
  mounted() {
    this.getSummary();
    this.getProfit();
    this.getSummary();
    this.getProfit();
    // this.interval = setInterval(() => {
    //     this.getSummary();
    //     this.getProfit();
    // }, 2000)
  },
  destroyed() {
    clearInterval(this.interval);
  }
}
</script>

<style lang="scss" scoped>
  @import "../assets/styles/app.scss";

  //title
  $color:  #576271;
  $tavle__button: #109bf8;
  $tavle__header: #0F3763;

  .template-card-container {
    border-radius: 6px;
    position: relative;
    margin: 10px auto;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1),
    0 2px 6px 0 rgba(0,0,0,.2);
  }
  .template-card-header {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .template-card-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $color;
    margin-left: 32px;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  .template-card-separator {
    height: 1px;
    width: 100%;
    background-color: #E0E3DA;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
  }
  .template-card-content {
    padding: 33px;
    padding-top: 20px;
  }
  .template-card-header {
    /*min-height: 90px;*/
    padding: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .template-card-picker {
    margin-right: 32px;
    margin-bottom: 8px
  }

  .template-card-title {
    font-family: Roboto,sans-serif;
    font-size: 20px;
    font-weight: initial;
    color: $color;
    margin-left: 32px;
  }

  .btn-outline-crypto {
    color: $tavle__button;
    background-color: transparent;
    background-image: none;
    border-color: $tavle__button;

    &:hover {
      background-color: $tavle__button;
      color: #fff;
    }
  }
</style>
