<template>
  <div class="page grid">
    <h2 class="page-title">Настройка аккаунта</h2>
    <card :title="'Изменение параметров учетной записи'">
      <input class="cr-input" placeholder="ПАРОЛЬ"/>
      <input class="cr-input" placeholder="ПОВТОРИТЕ ПАРОЛЬ"/>
      <input class="cr-input" placeholder="НОМЕР КОШЕЛЬКА BITCOIN"/>
      <input class="cr-input" placeholder="НОМЕР КОШЕЛЬКА LITECOIN"/>
    </card>
    <p style="font-size: 12px">Для смены email обратитесь к администатору по: email <a class="crypto" href="mailto:info@cryptouniverse.io">info@cryptouniverse.io</a></p>
  </div>
</template>

<script>
import api from "~/config"
import Card from '~/components/cards/Card';
import Input from '~/components/Input';
import "../assets/styles/app.scss";

export default {
  layout: 'dashboard',
    components: {
    Card, Input
  },
  data() {
    return {
      message: '',
      form: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    login() {
      this.$http.put(api.url+'/user', this.form).then(
        res => {
          this.message = res.data;
        }
      )
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../assets/styles/app.scss";


  .grid {
    display: grid;
    grid-template-columns: 50%;
  }
  @media (max-width: 1024px) {
    .grid {
      grid-template-columns: 100%;
      &__item {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
</style>
