<template lang="pug">
  div.page
    h2.page-title Оборудование
    TechTableCard
</template>

<script>
import TechTableCard from '~/components/cards/TechTableCard';

export default {
  layout: 'dashboard',
  components: {
    TechTableCard
  }
}
</script>

<style lang="scss" scoped>
  @import "../assets/styles/app.scss";

</style>
