<template lang="pug">
  div
    h2.page-title Оборудование
    TechTableCard
</template>

<script>
import TechTableCard from '~/components/cards/TechTableCard';

export default {
  components: {
    TechTableCard
  }
}
</script>
