<template lang="pug">
div
  b-alert(:show="message.length") {{message}}
  no-ssr
    table
      thead
        tr
          td ID
          td email
          td name
          td BTC
          td LTC
          td role
      tbody
        span  Добавить новый
        tr
          td
            b-button(@click="newUser") Добавить
          td
            input(v-model="form.email")
          td
            input(v-model="form.name")
          td
            input(v-model="form.addressBTC")
          td
            input(v-model="form.addressLTC")
          td
            input(v-model="form.role")
        span Поиск
        tr
          td
            b-button(@click="getFiltered") Добавить
          td
            input(v-model="filter.email")
          td
            input(v-model="filter.name")
          td
            input(v-model="filter.addressBTC")
          td
            input(v-model="filter.addressLTC")
          td
            input(v-model="form.role")
        span  Существующие
        tr(v-for="user in users")
          td
            b-button(@click="showMiners(user.email)") Майнеры
            b-button(@click="updateUser(user)") Сохранить
            b-button(@click="removeUser(user._id)") Удалить
          td
            input(v-model="user.email")
          td
            input(v-model="user.name")
          td
            input(v-model="user.addressBTC")
          td
            input(v-model="user.addressLTC")
          td
            input(v-model="user.role")

</template>
<style scoped>
  @import "../assets/styles/app.scss";

  table {
  width: 80%;
}
tbody{
  width: 100%;
}
  td {
    max-width: 16% !important;
  }
</style>
<script>
import api from "~/config.js";
import swal from "sweetalert";

function useURLFilter(vue) {
  vue.filter.OwnerID = vue.$route.query.OwnerID;
  vue.filter.ip = vue.$route.query.ip;
  vue.filter.type = vue.$route.query.type;
  vue.filter.freq = vue.$route.query.freq;
}

function getUsers(vue) {
  var url = api.url + "/users?token=" + vue.$store.state.token;
  vue.$http.get(url).then(res => {
    vue.users = res.data;
    console.log(res.data);
  });
}
export default {
  layout: 'dashboard',
  beforeMount() {
    getUsers(this);
  },
  data() {
    return {
      filter: {},
      users: [],
      form: {},
      message: ''
    };
  },
  methods: {
    newUser() {
      var url = api.url + "/users?token=" + this.$store.state.token;
      this.$http.post(url, this.form).then(res => {
        this.form = {};
        getUsers(this);
      });
    },
    getFiltered() {
      getUsers(this);
    },
    updateUser(user) {
      var url = api.url + "/users?token=" + this.$store.state.token;
      this.$http.put(url, user).then(res => {
        console.log(res.data)
        this.message = res.data;
        setTimeout(function(){
        }, 500)
      });
    },
    removeUser(userId) {
      var url = api.url + "/users?token=" + this.$store.state.token;
      url += "&userId=" + userId;
      swal("Точно удалить?").then( confirm => {
        if(confirm) {
          this.$http.delete(url).then(res => {
            this.form = {};
            getUsers(this);
          });
        }
    })},
    showMiners(email) {
      this.$router.push('/miners?OwnerID=' + email + "&token=" + this.$store.state.token);
    }
  }
};
</script>

<style lang="scss" scoped>

.minersPanel {
  margin-top: 50px;
  width: 80%;
  overflow-x: scroll
  table {
    overflow-x:auto;

  }
  td {
    margin-top: 40px;
    text-align: center;
    input {
      text-align: center;
      margin-left: 20px;
    }
  }
  tr {
    // border-top: 2px solid #222;
    border-bottom: 2px solid #222;
    margin: 20px;
  }
}
.btn {
  font-size: 10px;
  padding-top: 0 !important;
  height: 15px;
  width: 100%;
  float: left;
  margin-bottom: 2px;
}
</style>
