// Bootstrap overrides for this template
.text-primary {
  color: $primary !important;
}

.btn {
  // font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  @include sans-serif-font;
}

.btn-xl {
  padding: 1rem 2rem;

}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: darken($primary, 5%) !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(64, 240, 117, 0.5) !important;
  }
}

.btn-border {
  border: 1px solid white;
  background: transparent;
  color: $white;
  &:hover {
    background: rgba(255, 255, 255, 0.5)
  }
}
