// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;

}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

hr.cu {
  border-color: $cu;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
    text-decoration: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.catch {
  float: left;
  font-size: 16px;
  color: black;
}

@media (min-width: 1024px) {
  .miner-header-type {
    font-size: 44px;
  }
  h2 {
      font-size: 46px;
  }
  .btn-xl {
    padding: 1rem 2rem;
    font-size: 20pt;
  }
  .pt21 {
    font-size: 21pt;
  }
  
}
.bg-primary {
  background-color: $primary !important;
}
.bg-black {
  background-color: #111 !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.bg-cu {
  background-color: $cu  !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 2rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}
