@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";

.mfp-image-holder .mfp-content {
    max-width: 80%;
}

a:hover {
    text-decoration: none !important;
}

#book-overlay {
    position: fixed;
    // display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999;
    cursor: pointer;
}

#difs {
    width: 100vw;
    background: url('/img/bg-difs.png') no-repeat center center fixed;
    background-size: cover;
    .col-lg-2 {
        margin-bottom: 20px;
    }
    .card {
        height: 100%;
    }
    .dif-footer {
        margin-top: 30px;
        p {
            text-align: justify
        }
    }
}

.dif-icon {
    height: 100px;
    margin-top: 25px;
}

.section-heading {
    margin-bottom: 30px;
}

#social {
    padding-top: 30px;
    padding-bottom: 30px;
    .fa {
        font-size: 32px;
        margin: 15px;
    }
}
.c-cu {
    color: $cu;
}
.c-gr {
    color: $primary;
}
#position {
    margin-top: 0;
    padding-top: 0;
    background: url('/img/bg-fire.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    h2 {
        margin-top: 30px;
    }
    .p-container {
        padding: 20px;
    }
}
#prices {
    margin-top: 0;
    padding-top: 0;
    background: url('/img/bg-price.png') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    h2 {
        margin: 0 !important;
        margin-top: 20px  !important;
    }
    .bg-cu {
        padding: 30px;
        background: rgba($cu, 0.36) !important;
    }
    .prices-cards {
        .col-md-4 {
            margin-bottom:30px;
            .card {
                padding: 0 !important;
                height: 100%;
            }
            .card-header {
                // background: $cu-light;
                font-weight: 600;
                text-transform: uppercase;
            }
            .card-footer {
                color: $primary !important;
                background: #fff;
                font-size: 24px;
                font-weight: 600;
            }
        }

    }
}

.mining-vs {
    // height: 100%  !important;
    .col-md-6 {
        height: 100%;
        margin-bottom: 30px;
        @media (max-width: 768px) {
            padding: 0 !important;
        }
    }
    .col-vs {
        margin-bottom: 20px;


        // height: 100%;
        // padding: 0 !important;
    }
    .card {
        // height: 100% !important;
        .card-title {
            width: 100%;
            text-align: center;
            padding: 20px;
            margin: 0;
        }
        li {
            list-style: none;
            position: relative;
            padding-left: 35px;
            margin-bottom: 15px;
            width: 80%
        }
        li.minus:before {
            content: "\f057";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: red;
            font-size: 30px;
            top: -10px;
            left: 0;
            position: absolute;
            height: 100%;
        }

        li.plus:before {
            content: "\f058";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: $primary;
            font-size: 30px;
            top: -10px;
            left: 0;
            position: absolute;
            height: 100%;
        }
    }
}
.sectionheader {
    margin-top: 10px;
}
.prices-cards {
    h2 {
        color: $primary;
    }
    hr {
        max-width: 100%;
        border: none;
        border-bottom: 1px solid white;
    }
    .btn-1 {
        --c1: #f6d365;
        --c2: #fda085;
      }

      .btn-2 {
        --c1: #0F3763;
        --c2: #a6c1ee;
      }

      .btn-3 {
        --c1: #009EE3 ;
        --c2: #8fd3f4;
      }

      .btn-4 {
        --c1: #a1c4fd;
        --c2: #29C969;
      }

      .btn-5 {
        --c1: #ffecd2;
        --c2: #fcb69f;
      }
    .card {
        padding: 0;
        transition: 1s;
        background: linear-gradient(90deg, var(--c1, #f6d365), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/ 200%;
        cursor: pointer;
        .card-body {
            background: #fff;
        }
        &:hover {
            --x: 100%;
//             -webkit-box-shadow: 0px 0px 10px 3px rgba(50,108,173,1);
// -moz-box-shadow: 0px 0px 10px 3px rgba(50,108,173,1);
// box-shadow: 0px 0px 10px 3px rgba(50,108,173,1);
        }
        .card-text {
            text-align: left !important;

            width: 100%;
            height: 100%;
        }
        border: none;
        border-radius: 5px;
        .card-header {
            // border-top-right-radius: 30px;
            // border-top-left-radius: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .card-footer {
            background: none;
            text-align: right;
            border: none;
            @media (min-width: 1024px) {
                font-size: 26px !important;
            }
        }
    }

}


#miner {
    ul {
        list-style: none;
        li {
            position: relative;
            padding-left: 25px;
            .c-icon {
                width: 26px;
                position: absolute;
                left: -25px;
            }
        }
    }
}
#contact {
    color: $cu;
    .m-icon {
        padding-left: 15px;
    }
    .map-container {
        @media (max-width: 768px) {
            display: none;
        }
    }
    .map-overlay {
        font-size: 22px;
        padding: 20px;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: #fff;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}


#howtow {
    margin-top: 0;
    padding-top: 30px;
    background: url('/img/bg-how-to-work-light.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    @media (max-width: 1000px) {
        display: none;
    }
    .container {
        text-align: center;
        display: grid;
        * {
            box-sizing: content-box;
        }
        .bubbles {
            position: relative;
            > * {
                position: absolute;
                border-radius: 50%;
            }
        }
        .text {
            position: relative;
            padding: 20px;
            font-size: 18px;
            border-radius: 50%;
            background-color: $white;
            box-shadow: 0 0 100px 50px rgba($white, 0);
            transition: box-shadow .2s;
            &, .number {
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .number {
                position: absolute;
                left: calc(25% - 80px);
                bottom: calc(25% - 80px);
                width: 80px;
                height: 80px;
                font-size: 42px;
                font-weight: bold;
                border: 5px solid $white;
                border-radius: 50%;
                background-color: $cu;
                color: $white;
            }
        }
        > * {
            grid-row: 1;
            &:hover {
                .text {
                    box-shadow: 0 0 10px 5px $white;
                }
            }
        }
        .step-1 {
            grid-area: a;
            justify-self: start;
            align-self: start;
            .bubbles {
                :nth-child(1) {
                    right: -50px;
                    top: 25px;
                    width: 28px;
                    height: 28px;
                    background: $cu-light;
                }
            }
            .text {
                width: 115px;
                height: 115px;
                border: 7px solid $primary;
            }
        }
        .step-2 {
            grid-area: b;
            justify-self: start;
            align-self: end;
            .bubbles {
                :nth-child(1) {
                    left: -100px;
                    bottom: -250px;
                    width: 28px;
                    height: 28px;
                    background: $primary;
                }
            }
            .text {
                width: 180px;
                height: 180px;
                border: 7px solid $cu-light;
            }
        }
        .step-3 {
            grid-area: c;
            justify-self: start;
            align-self: start;
            .bubbles {
                :nth-child(1) {
                    right: -100px;
                    bottom: -125px;
                    width: 28px;
                    height: 28px;
                    background: $cu-light;
                }
            }
            .text {
                width: 115px;
                height: 115px;
                border: 7px solid $cu-light;
            }
        }
        .step-4 {
            grid-area: d;
            justify-self: end;
            align-self: end;
            .bubbles {
                :first-child {
                    left: -35px;
                    top: -35px;
                    width: 250px;
                    height: 250px;
                    border: 7px solid $primary;
                }
            }
            .text {
                width: 155px;
                height: 155px;
            }
        }
        .step-5 {
            grid-area: e;
            justify-self: end;
            align-self: start;
            .bubbles {
                :first-child {
                    left: -35px;
                    top: -35px;
                    width: 305px;
                    height: 305px;
                    background: linear-gradient(to bottom, $primary, $cu-light);
                }
            }
            .text {
                width: 195px;
                height: 195px;
            }
        }
        .step-6 {
            grid-area: f;
            justify-self: end;
            align-self: end;
            .bubbles {
                :first-child {
                    left: -35px;
                    top: -35px;
                    width: 290px;
                    height: 290px;
                    border: 7px solid $cu-light;
                }
                :nth-child(2) {
                    right: -25px;
                    top: -75px;
                    width: 98px;
                    height: 98px;
                    background: linear-gradient(to bottom, $cu-light, $primary);
                }
                :nth-child(3) {
                    left: -75px;
                    bottom: -275px;
                    width: 28px;
                    height: 28px;
                    background: $primary;
                }
                :nth-child(4) {
                    right: -50px;
                    top: -175px;
                    width: 28px;
                    height: 28px;
                    background: $primary;
                }
            }
            .text {
                width: 195px;
                height: 195px;
            }
        }
        @media (max-width: 575px) {
            grid-template-columns: 10% 48% 22% 10%;
            grid-template-rows: 25% 30% 5% 40%;
            grid-template-areas:
                ". a b ."
                ". c d ."
                ". . . ."
                ". e f .";
            height: 1500px;
            margin-bottom: 100px;
            > * {
                transform: scale(1.25);
            }
            .step-4 {
                .number {
                    left: initial;
                    bottom: initial;
                    right: calc(25% - 80px);
                    top: calc(25% - 80px);
                }
            }
        }
        @media (min-width: 576px) {
            grid-template-columns: 5% 45% 50%;
            grid-template-rows: 30% 30% 40%;
            grid-template-areas:
                "a . b"
                ". c d"
                ". e f";
            height: 800px;
            margin-bottom: 60px;
        }
        @media (min-width: 768px) {
            grid-template-columns: 30% 35% 35%;
            grid-template-rows: 40% 5% 10% 35% 10%;
            grid-template-areas:
                "a . c"
                ". b ."
                ". . ."
                ". e ."
                "d . f";
            height: 550px;
        }
        @media (min-width: 992px) {
            grid-template-columns: 6% 22% 26% 24% 22%;
            grid-template-rows: 10% 80% 10%;
            grid-template-areas:
                "a . c . ."
                ". . d e f"
                ". b . . .";
            height: 440px;
        }
    }
}

@media (max-width: 768px) {
    #howtow {
        background-attachment: local;
    }
    .map-overlay {
        font-size: 16px;
    }
}

.px12 {
    font-size: 18px;
}




