<template>
  <div>
    <header class="grid__header">
      <span class="menu-left">
        <a href="/">
        <img class="logo-wrapper" src="../../../assets/images/logo.png" />
        <!--<img src="../../../assets/images/logo-colapsed.svg" />-->
        <!--<i v-on:click="LeftMenu = !LeftMenu" class="fa fa-navicon"></i>-->
        </a>
      </span>
      <span class="menu-center"></span>
      <span class="menu-right">
        <div class="rater">
          <div v-if="rates.BTC">1 BTC = {{rates.BTC.exchange_rate}} $</div>
          <div v-if="rates.LTC">1 LTC = {{(rates.LTC.exchange_rate * rates.BTC.exchange_rate).toFixed(2)}} $</div>
        </div>
        <div class="buben">
            <notification :count="2"></notification>
        </div>
        <div class="user-wrapper">
          <user :fullname="user.name" avatarUrl="https://pp.userapi.com/c844520/v844520072/3d31/KI1b1KfFrZ0.jpg"></user>
        </div>

        <div class="menu-right__logout">
            <button type="button" class="btn logout-button btn-outline-light" @click="logout">ВЫЙТИ</button>
        </div>
      </span>
    </header>
    <div id="menu-left" :class="LeftMenu ? 'active':''">
      <div class="box">

      </div>
    </div>

    <div class="intro">

    </div>


  </div>
</template>
<script>
import User from './User.vue';
import Notification from './Notification.vue';
import { mapState } from 'vuex';
import Cookies from 'cookies-js';

export default {
  mounted() {
    console.log(1)
    if (Cookies.get('auth')) {
      this.$store.dispatch('getRates');
    this.$store.commit('setToken', Cookies.get('auth'));
      this.$store.dispatch('getUser');
    } else {
      console.log(3)

      this.$router.replace('/login')
    }

  },
  data() {
    return {
      LeftMenu: false
    }
  },
  computed: mapState([
    'user', 'rates'
  ]),
  components: {
    User, Notification
  },
  methods: {
    logout() {
      this.$cookies.remove('auth');
      Cookies.set('auth', 'lol');
      this.$store.dispatch('logout');
      this.$router.push('/login');
    }

  }
}
</script>


<style lang="scss" scoped>
  @import '~/assets/styles/index.scss';
  @import '~/assets/styles/app.scss';
  @import '~/assets/styles/constants.scss';
  @import "~bootstrap/scss/bootstrap-grid.scss";


  .logo-wrapper {
    height: 100%;
    width: $sidebar-width;
    background-color: $secondary-color;
    padding: 10px;
  }

  .grid__header {
    display: grid;
  }

  .menu-right {
    display: flex;
  }
  .grid__header {
    grid-template-columns: 25% 40% 35%;
    grid-template-rows: auto;
  }
  .menu-right {
    padding: 10px;
    /*grid-template-columns: 30% 30% 15% 20%;*/
    /*grid-template-rows: auto;*/
    align-items: center;
    justify-content: center;
    .rater {
      font-size: 1rem;
      color: #fff;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
    }
    .user-wrapper {
      font-size: 1rem;
      padding-left: 10px;

      color: #fff;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .buben {
      padding: 10px;

      font-size: 1rem;
      color: #fff;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
    }
    .menu-right__logout {
      font-size: 1rem;
      padding-left: 20px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  @media screen and  (max-width: 640px) {
    .grid__header {
      grid-template-columns: 100%;
      grid-template-rows: auto;
    }
    .menu-right {
      visibility: hidden;
      display: none;
    }

  }


  //my

  $background-header: $firstcolor;
  $background-bottom: $firstcolor_dark;
  $background-shadow: rgba(0, 0, 0, .5);
  $background-text: #FFF;
  $color-text: #a9a9a9;
  $border-left: #161616;
  $border: #111;
  $profile: #222;
  $border-bottom: #151515;
  $mainbackground: #252525;
  $h1: #555;
  a, a:active, a:hover {
    color: inherit;
    text-decoration: none;
  }
  ul, li {
    /*display: block;*/
    list-style: none;
  }
  ul {
    margin: 10px 5px 15px;
    padding: 5px;
    text-align: left;
  }
  li {
    margin: 2px 0;
    padding: 6px 8px;
  }
  p {
    line-height: 1.5;
    margin: 10px;
    padding: 5px 5px 15px;
    text-align: justify;
  }
  img {
    /*display: block;*/
    width: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #555;
    padding: 5px 10px 10px;
  }
  header {
    background: $background-header;
   // border-bottom: 1px solid $background-bottom;
    box-shadow: 1px 0 2px $background-shadow;
    color: $background-text;
    display: flex;
    justify-content: space-between;
    /*padding: 10px 10px;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    vertical-laign: middle;
    z-index: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  header [class*="menu-"] {
    cursor: pointer;
    height: initial;
    width: initial;
  }
  header h1 {
    color: $background-text;
    font-size: 24px;
    font-weight: 100;
    padding: 0;
    text-shadow: 0 1px 2px $background-shadow;
  }
  .intro {
    margin: 57px auto 0px;
    padding: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  section, article, div, .box {
    overflow: hidden;
    position: relative;
  }
  section {
    margin: 20px auto 40px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  [id*="menu-"] {
    background: $mainbackground;
    bottom: 0;
    color: $color-text;
    height: 100%;
    position: fixed;
    top: 0;
    width: 205px;
    z-index: 99;
    .box {
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: auto;
      padding-left: 5px;
      top: 54px;
    }
    .box::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      border-bottom: 1px solid #1F1F1F;
      font-size: 12px;
      line-height: 28px;
      margin: 0;
      overflow: hidden;
      padding: 5px;
      position: relative;
    }
    li:last-child {
      border: 0;
    }
  }
  #menu-left {
    border-right: 1px solid $border-left;
    left: -210px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    width: 210px;
    .profile {
      background: $profile;
      border-bottom: 5px solid $border-bottom;
      padding: 8px 5px;
    }
    img {
      border: 1px solid $border;
      border-radius: 5px;
      display: inline-block;
      height: 32px;
      vertical-align: middle;
      width: 32px;
    }
    .content {
      position: relative;
      height: initial;
      width: 100%;
      h5 {
        background: #353535;
        color: $background-text;
        font-weight: 400;
      }
      .fa {
        padding: 0 8px 0 4px;
      }
      ul:last-child {
        color: $color-text;
      }
      ul:last-child .fa {
        color: $color-text;
      }
    }
  }
  #menu-right li img {
    border: 1px solid $border;
    border-radius: 5px;
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    width: 32px;
  }
  #menu-left .profile span, #menu-right li span {
    *font-weight: bold;
    padding-left: 8px;
  }
  #menu-right li span {
    font-size: 12px;
  }
  #menu-right li span.so-active:before {
    background: $background-header;
  }
  #menu-right li span.no-active:before {
    background: transparent;
    border: 0;
    box-shadow: none;
  }
  #menu-right {
    border-left: 1px solid $border-left;
    right: 0;
    width: 205px;
    -webkit-transform: translate3d(205px, 0, 0);
    -moz-transform: translate3d(205px, 0, 0);
    transform: translate3d(205px, 0, 0);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  #menu-right.active {
    right: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  section.active, header.active, .intro.active, #menu-left.active, footer.active {
    -webkit-transform: translate3d(205px, 0, 0);
    -moz-transform: translate3d(205px, 0, 0);
    transform: translate3d(205px, 0, 0);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  section, article {
    background: inherit;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: initial;
  }
  article img {
    /*display: block;*/
    width: 100%
  }
  article:nth-child(2n) {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    -moz-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);
  }
  article:nth-child(2n) .box .feed {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    -moz-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);
  }
  article .box:before {
    background: $background-text;
    content: "";
    margin-top: -10px;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }
  /*-------------------------------*/
  /* CSS @media screen responsive
  /*-------------------------------*/
  @media only screen and (min-width: 240px) {
    article .box .feed p {
      font-size: 13px;
    }
  }
  @media only screen and (min-width: 320px) {
    article .box .feed p {
      font-size: 13px;
    }
  }
  @media only screen and (min-width: 480px) {
    article .box .feed p {
      font-size: 14px;
    }
  }
  @media only screen and (min-width: 528px) {
    article .box, footer .box {
      display: inline-block;
      margin: 0 -2px;
      vertical-align: middle;
      width: 50%;
    }
    article .box .feed p {
      font-size: 11px;
      line-height: 16px;
    }
    footer .box {
      height: 100%;
    }
  }
  @media only screen and (min-width: 640px) {
    article .box {
      display: inline-block;
      margin: 0 -2px;
      vertical-align: middle;
      width: 50%;
    }
    article .box .feed p {
      font-size: 13px;
    }
    footer .box {
      height: 100%;
    }
  }
  @media only screen and (min-width: 768px) {
    article .box {
      display: inline-block;
      margin: 0 -2px;
      vertical-align: middle;
      width: 50%;
    }
    article .box .feed p {
      font-size: 15px;
      line-height: 24px;
    }
    footer .box {
      height: 100%;
    }
  }
  @media only screen and (min-width: 992px) {
    article .box {
      display: inline-block;
      margin: 0 -2px;
      vertical-align: middle;
      width: 50%;
    }
    article .box .feed p {
      font-size: 15px;
      line-height: 24px;
    }
    footer .box {
      height: 100%;
    }
  }
  @media only screen and (min-width: 1200px) {
    article .box {
      display: inline-block;
      margin: 0 -2px;
      vertical-align: middle;
      width: 50%;
    }
    article .box .feed p {
      font-size: 15px;
      line-height: 24px;
    }
    footer .box {
      height: 100%;
    }
  }
  @media only screen and (min-width: 767px) and (max-width: 991px) {
    article .box {
      display: inline-block;
      margin: 0 -2px;
      vertical-align: middle;
      width: 50%;
    }
    article .box .feed p {
      font-size: 15px;
      line-height: 24px;
    }
    footer .box {
      height: 100%;
    }
  }
  @media only screen and (max-width: 528px) {
    article .box .feed {
      margin: 15px 0 25px;
    }
    article .box:before {
      content: "";
      margin-top: 0;
      margin-left: -10px;
      position: absolute;
      width: 20px;
      height: 20px;
      top: -10px;
      left: 50% !important;
      right: auto;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  @media only screen and (max-width: 240px) {
    .intro {
      display: none
    }
    section {
      margin-top: 57px
    }
    article .box .feed p {
      font-size: 12px;
    }
  }
</style>
