<template lang="pug">
  div.ring-wrapper
    b-dropdown(variant="link" no-caret toggle-class="ring" right @hidden="readNotifications" style="position: fixed;")
      template(slot="button-content")
        icon-controller(icon="ring", color="#FFFFFF")
        div(v-if="formatedCount != 0").ring-counter-wrapper {{ formatedCount }}
      div(v-for="(notify, index) in notifications")
        div.notify
          div
            div(v-if="!notify.read").read-circle
          div.notify-text {{ notify.text }}
          div.notify-time {{ formatedDate(notify.time) }}
        b-dropdown-divider(v-if="index != notifications.length - 1")
</template>

<script>
import IconController from '~/components/icons/IconController';
import { mapGetters, mapActions } from 'vuex'
import moment from 'moment';

export default {
  computed: {
    formatedCount() {
      return this.notificationsCount > 99 ? '99+' : this.notificationsCount;
    },
    ...mapGetters([
      'notifications',
      'notificationsCount'
    ])
  },
  props: {
    count: {
      type: Number,
      required: true,
    }
  },
  components: {
    IconController
  },
  methods: {
    formatedDate(time) {
      var date = moment(time)
      if (date.isSame(moment(), 'day'))
        return date.format("HH:mm")
      return date.format("MM-DD")
    },
    ...mapActions([
      'readNotifications'
    ])
  }
}
</script>

<style lang="scss" scoped>
@import '~/assets/styles/index.scss';

.ring-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.ring-counter-wrapper {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  background-color: $secondary-color;
  position: absolute;
  top: -2px;
  right: -7px;
  text-align: center;
  color: #FFFFFF;
  overflow-wrap: unset;
}
.notify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.read-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #109BF8
}
.notify-text {
  font-family: 'Roboto', sans-serif;
  color: #343940;
}
.notify-time {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: gray;
}
</style>
