<template lang="pug">
  div.user-wrapper
    div.name.d-none.d-sm-block {{ fullname }}
</template>

<script>
export default {
  props: {
    fullname: {
      type: String,
      requared: true,
    },
    avatarUrl: {
      type: String,
      requared: true,
    }
  }
}
</script>


<style lang="scss" scoped>
.user-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center
}
.avarar {
  height: 100%;
  width: 100%;
  border: solid 1px white;
  border-radius: 50%;
  margin-right: 16px;
}
.name {
  font-family: 'Roboto', sans-serif;
  margin-right: 16px;
  color: #ffffff;
  font-weight: 500;
}
</style>
